:root {
  color-scheme: light;
  --light-grey: #dfe1e2;
  --dark-blue: #005ea2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.grid-container p {
  max-width: unset;
}

.nj-banner__inner ul {
  margin: 0;
}

.usa-identifier {
  margin-top: 0;
}

.usa-header--extended .usa-nav__secondary-links a,
.usa-header--extended .usa-nav__secondary-links a:visited {
  color: var(--light-grey);
}

.usa-header--extended .usa-nav__secondary-links a:hover,
.usa-header--extended .usa-nav__secondary-links a:active {
  color: #ffffff;
}

ul.usa-card-group {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

div.usa-card__container {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

@media (min-width: 40em) {
  li.usa-card,
  li.usa-card:last-child {
    margin-bottom: 1.5rem;
  }

  .learn-side-nav nav {
    margin-right: 48px;
  }
}

li {
  line-height: 1.6rem;
}

:is(h1, h2, h3, h4, h5, h6).dark-blue {
  color: var(--dark-blue);
}
