.yarn
!.yarn/releases
!.yarn/plugins
.git
.github
.env
**/.env
.env.*
**/.env.*
.next
**/.next
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
node_modules
**/node_modules
.DS_Store
**/.DS_Store
