web/.next
amplify
*.md
web/public/
web/out_publish/
web/out_functions/
web/out/
web/cypress/plugins
web/cypress/support
web/stories
node_modules

shared/lib
content/lib
content

web/amplify/#current-cloud-backend/
web/amplify/.config/local-*
web/amplify/logs
web/amplify/mock-data
web/amplify/backend/amplify-meta.json
web/amplify/backend/awscloudformation
web/amplify/backend/.temp
web/aws-exports.js
web/awsconfiguration.json
web/amplifyconfiguration.json
web/amplify-build-config.json
web/amplify-gradle-config.json
web/amplifytools.xcconfig
aws_config_file_path.json

# Serverless directories
api/.serverless

# Webpack directories
api/.webpack

api/src/setupTests.js
api/src/teardownTests.js

.yarn
.vscode
coverage