.business-formation-documents thead tr th:nth-child(1) {
  width: 4rem;
}

.business-formation-documents thead tr th:nth-child(3) {
  width: 10rem;
}

.business-formation-documents tbody tr td {
  height: 1rem;
}

.business-formation-documents tfoot tr td {
  height: 1rem;
}

.business-formation-documents-table-checkboxes {
  margin-top: -9px;
  margin-left: -5px;
}

.task-submit-button-background {
  margin: 0px -24px -24px -24px;
}
