$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

@import "colors";
@import "flex";
@import "onboarding";
@import "roadmap";
@import "contextual-info";
@import "left-nav";
@import "tabs";
@import "license-status";
@import "njwds-overrides/stepper";
@import "njwds-overrides/overrides";
@import "njwds-overrides/components";
@import "landing";
@import "innov-footer";
@import "nav-bar";
@import "business-formation";

* {
  box-sizing: border-box;
}

hr {
  background-color: #e6e6e6;
}

.green-box {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  ul {
    list-style-type: "• ";
    padding-inline-start: 1rem;
  }
}

.mla {
  margin-left: auto !important;
}

.no-link-style {
  text-decoration: unset;
}

.no-link-style:hover {
  text-decoration: unset;
}

.weight-unset {
  font-weight: unset;
}

.weight-inherit {
  font-weight: inherit !important;
}

.style-inherit {
  font-style: inherit !important;
}

.width-100 {
  width: 100% !important;
}

.width-auto {
  width: auto !important;
}

.bg-chevron {
  @media all and (min-width: $sm) {
    background-image: linear-gradient(-45deg, white 20px, transparent 20px),
      linear-gradient(-135deg, white 20px, transparent 20px);
  }
}

.dashed-underline {
  padding-bottom: 1px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.visually-hidden-centered {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: auto;
  white-space: nowrap;
  width: 1px;
}

.usa-button--outline {
  background-color: $white !important;
}

.usa-button--unstyled {
  color: $primary !important;
}

.clear-button {
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  cursor: pointer;
}

.override-text-base {
  color: $base !important;
}

.border-primary,
.hover\:border-primary:hover {
  border-color: $primary !important;
}

.usa-link:visited,
.usa-prose > a:visited {
  color: $primary-darker !important;
}

.fit-screen-content {
  min-height: calc(100vh - 15.625rem);
}

.usa-nav-container.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled-transition {
  transition: top 500ms ease-in;
  z-index: 300;
}

.skip-link {
  background: $white;
  font-weight: 700;
  left: 50%;
  padding: 0.25rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 99999;
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.h1-styling {
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

.h2-styling {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.h3-styling {
  font-weight: 700 !important;
  font-size: 1.38rem !important;
}

.h4-styling {
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.usa-link-hover-override:hover {
  .icon-green-bg-color-hover {
    background-color: $primary-dark;
  }
  .text-green-color-hover {
    color: $primary-dark;
  }
}

.accent-cool-hover-override:hover {
  background-color: $accent-cool !important;
}

.line-height-1 {
  line-height: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table,
th,
td {
  border: 2px solid $base-light;
}

td {
  height: 15rem;
  vertical-align: top;
  padding: 1rem;
}

.env-table td {
  height: 1rem;
  table-layout: auto;
}

.env-table td.enabled {
  background-color: lightgreen;
}

.env-table td.disabled {
  background-color: lightpink;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.operate-bullet:before {
  border-radius: 99rem;
  background-color: $primary-darker;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 8px;
  margin-right: 20px;
  box-sizing: border-box;
  font-feature-settings: "tnum" 1, "kern" 1;
  display: inline-block;
}

.operate-bullet.active:before {
  background-color: $primary-dark;
}

.tag-fixed-width {
  width: 134px !important;
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.dashboard-opportunities-list {
  @media all and (min-width: $lg) {
    max-height: 925px;
    overflow: auto;
  }
}
