@import "colors";

.membersTable {
  table,
  td {
    border: none !important;
    height: auto;
  }

  table,
  th {
    text-align: left;
    border: none !important;
    padding-left: 1em;
  }
  table > thead {
    border-bottom: 2px solid $base-light;
  }
  table > tfoot {
    border-bottom: 1px solid $base-light;
  }

  table > thead,
  th:nth-child(1) {
    width: 30%;
  }
  table > thead,
  th:nth-child(3) {
    width: 100px;
  }
}
