.info-panel {
  left: unset;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  border-left: 0;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  z-index: 500;
  background-color: #e7f6f8;
  width: 60vw;

  @media all and (min-width: $sm) {
    width: 30rem;

    &.is-visible {
      -webkit-animation: slidein-left-30 0.3s ease-in-out;
      animation: slidein-left-30 0.3s ease-in-out;
    }
  }
}

.info-panel.is-visible {
  -webkit-animation: slidein-left-60vw 0.3s ease-in-out;
  animation: slidein-left-60vw 0.3s ease-in-out;
  display: flex;
}

.info-panel-close {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  padding: 0;
  height: 3rem;
  width: 3rem;
  color: currentColor;
  flex: none;
  float: right;
  margin: -0.75rem -1rem 1rem auto;
  text-align: center;
}

.info-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  background: #000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  z-index: 400;
}

.info-overlay.is-visible {
  opacity: 0.2;
  visibility: visible;
}

@-webkit-keyframes slidein-left-60vw {
  0% {
    transform: translateX(60vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slidein-left-60vw {
  0% {
    transform: translateX(60vw);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slidein-left-30 {
  0% {
    transform: translateX(30rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slidein-left-30 {
  0% {
    transform: translateX(30rem);
  }
  to {
    transform: translateX(0);
  }
}
