$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

@import "flex";
@import "onboarding.module";
@import "roadmap.module";
@import "njwds-overrides/vertical-step";
@import "njwds-overrides/left-sidebar";
@import "njwds-overrides/default";

* {
  box-sizing: border-box;
}

.mla {
  margin-left: auto !important;
}

.no-link-style {
  text-decoration: unset;
}

.no-link-style:hover {
  text-decoration: unset;
}

.weight-unset {
  font-weight: unset;
}

.width-100 {
  width: 100%;
}

.bg-chevron {
  @media all and (min-width: $sm) {
    background-image: linear-gradient(-45deg, white 20px, transparent 20px),
      linear-gradient(-135deg, white 20px, transparent 20px);
  }
}
