$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

@import "flex";
@import "onboarding.module";
@import "roadmap.module";
@import "njwds-overrides/vertical-step";
@import "njwds-overrides/left-sidebar";
@import "njwds-overrides/default";

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.text-sm {
  font-size: 0.88rem;
}

.text-reg {
  font-size: 1.06rem;
}

.mla {
  margin-left: auto;
}
