$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

@import "flex";
@import "onboarding";
@import "roadmap";
@import "contextual-info";
@import "left-nav";
@import "tabs";
@import "license-status";
@import "njwds-overrides/vertical-step";
@import "njwds-overrides/overrides";
@import "landing";
@import "legal-footer";
@import "beta-bar";
@import "innov-footer";

* {
  box-sizing: border-box;
}

.mla {
  margin-left: auto !important;
}

.no-link-style {
  text-decoration: unset;
}

.no-link-style:hover {
  text-decoration: unset;
}

.weight-unset {
  font-weight: unset;
}

.weight-inherit {
  font-weight: inherit !important;
}

.style-inherit {
  font-style: inherit !important;
}

.weight-400 {
  font-weight: 400;
}

.width-100 {
  width: 100% !important;
}

.width-auto {
  width: auto !important;
}

.bg-chevron {
  @media all and (min-width: $sm) {
    background-image: linear-gradient(-45deg, white 20px, transparent 20px),
      linear-gradient(-135deg, white 20px, transparent 20px);
  }
}

.dashed-underline {
  padding-bottom: 1px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.spinner-overlay {
  position: absolute;
  z-index: 100;
  width: auto;
  margin-left: -42%;
}

.spinner-margin-36 {
  margin-left: -36% !important;
}
