@-webkit-keyframes slidein-right {
  0% {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidein-right {
  0% {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(0);
  }
}

@media all and (max-width: 63.99em) {
  .left-nav {
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background: #fff;
    border-left: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    width: 20rem;
    z-index: 500;
  }
  .left-nav.is-visible {
    -webkit-animation: slidein-right 0.3s ease-in-out !important;
    animation: slidein-right 0.3s ease-in-out !important;
    display: flex;
  }
  .left-nav-close {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    padding: 0;
    height: 3rem;
    width: 3rem;
    color: currentColor;
    flex: none;
    float: right;
    margin: -0.75rem -1rem 1rem auto;
    text-align: center;
  }
  .left-nav-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background: #000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
    z-index: 400;
  }
  .left-nav-overlay.is-visible {
    opacity: 0.2;
    visibility: visible;
  }
  .left-nav-menu-button {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #538200;
    color: #fff;
    font-size: 0.81rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media all and (min-width: 64em) {
  .left-nav-close {
    display: none;
  }
}
