.flex-custom {
  flex: 1 1 100%;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.nav-padding-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.layer-top {
  z-index: 400;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none !important;
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: $sm) {
  .nav-padding-x {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (min-width: $xs) {
  .logo-max-width {
    max-width: 16.5rem;
  }
}
@media (min-width: $lg) {
  .nav-padding-x {
    padding-left: 1rem;
    padding-right: 0rem;
  }
}
