.react-tabs {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.react-tabs__tab-list {
  border-bottom: 2px solid #e6e6e6;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid #e6e6e6;
  border-left: none;
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 0.75rem 0.75rem;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: #757575;

  &:first-of-type {
    border-left: 2px solid #e6e6e6;
  }

  @media all and (min-width: $xs) {
    padding: 0.75rem 1.5rem;
  }
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #e6e6e6;
  color: #538200;

  &:before {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: #538200;
  }
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
