.bg-beta {
  background-color: $beta !important;
}

.bg-info-lighter {
  background-color: $info-lighter !important;
}

.bg-info-light {
  background-color: $info-light !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-info-dark {
  background-color: $info-dark !important;
}

.bg-info-darker {
  background-color: $info-darker !important;
}

.bg-error-lighter {
  background-color: $error-lighter !important;
}

.bg-error-light {
  background-color: $error-light !important;
}

.bg-error {
  background-color: $error !important;
}

.bg-error-dark {
  background-color: $error-dark !important;
}

.bg-error-darker {
  background-color: $error-darker !important;
}

.bg-success-lighter {
  background-color: $success-lighter !important;
}

.bg-success-light {
  background-color: $success-light !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-success-dark {
  background-color: $success-dark !important;
}

.bg-success-darker {
  background-color: $success-darker !important;
}

.bg-warning-lighter {
  background-color: $warning-lighter !important;
}

.bg-warning-light {
  background-color: $warning-light !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-warning-dark {
  background-color: $warning-dark !important;
}

.bg-warning-darker {
  background-color: $warning-darker !important;
}

.bg-disabled-light {
  background-color: $disabled-light !important;
}

.bg-disabled {
  background-color: $disabled !important;
}

.bg-disabled-dark {
  background-color: $disabled-dark !important;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}

.bg-certification {
  background-color: #99c8ef !important;
}

.bg-funding {
  background-color: #80def1 !important;
}
