.border-primary,
.hover\:border-primary:hover {
  border-color: $primary !important;
}

.border-primary-light {
  border-color: $primary-light !important;
}

.border-cool-lighter {
  border-color: $cool-lighter !important;
}

.border-success {
  border-color: $success !important;
}

.border-accent-cooler {
  border-color: $accent-cooler !important;
}

.border-accent-cooler {
  border-color: $accent-cooler !important;
}

.border-right-base {
  border-right-color: $base !important;
}
