// Drop Shadows

$dropShadows:
  xs 4px 8px $base-extra-light,
  sm 6px 12px $base-lighter,
  md 8px 16px $base-lighter,
  lg 10px 20px $base-lighter,
  xl 12px 24px $base-lighter;

.drop-shadow-none {
  box-shadow: 0 !important;
  border: 1px solid $base-light;
}

@each $name, $y, $blur, $color, $borderColor in $dropShadows {
  .drop-shadow-#{$name} {
    box-shadow: 0 $y $blur rgba(0, 0, 0, 0.1);
    border: 1px solid $borderColor;
  }

  .drop-shadow-#{$name}-darker {
    box-shadow: $y $y $blur rgba(0, 0, 0, 0.25);
    border: 1px solid $borderColor;
  }

  .hover\:drop-shadow-#{$name} {
    &:hover {
      @extend .drop-shadow-#{$name};
    }
  }

  .hover\:drop-shadow-#{$name}-darker {
    &:hover {
      @extend .drop-shadow-#{$name}-darker;
    }
  }
}
