/* flex */

.flex {
  display: flex;
}

.fdr {
  display: flex;
  flex-direction: row;
}

@media (min-width: 640px) {
  .tablet-flex-row {
    display: flex;
    flex-direction: row;
  }
  .tablet-flex-alignItems-end {
    display: flex;
    align-items: flex-end;
  }
}

.fdc {
  display: flex;
  flex-direction: column;
}

.fin {
  display: inline-flex;
}

.flex-full {
  flex: 0 0 100%;
}

.flex-half {
  flex: 0 0 50%;
}

.flex-half-tablet {
  flex: 0 0 100%;
  @media all and (min-width: $md) {
    flex: 0 0 50%;
  }
}

.fjs {
  justify-content: flex-start;
}

.fje {
  justify-content: flex-end;
}

.fjc {
  justify-content: center;
}

.fjb {
  justify-content: space-between;
}

.fja {
  justify-content: space-around;
}

.fas {
  align-items: flex-start;
}

.fae {
  align-items: flex-end;
}

.fa-stretch {
  align-items: stretch;
}

.fac {
  align-items: center;
}

.vam {
  vertical-align: middle;
}

.fg1 {
  flex-grow: 1;
}

.fww {
  flex-wrap: wrap;
}

.fww-tablet {
  flex-wrap: wrap;
  @media all and (min-width: $md) {
    flex-wrap: nowrap;
  }
}

.space-between {
  justify-content: space-between;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.tal {
  text-align: left;
}

.mobile-lg\:flex-row {
  @media (min-width: 30em) {
    flex-direction: row !important;
  }
}

.mobile-lg\:flex-align-center {
  @media (min-width: 30em) {
    align-items: center !important;
  }
}

@media only screen and (min-width: $sm) {
  .flex-direction {
    flex-direction: column !important;
  }
}

@media only screen and (min-width: $lg) {
  .flex-direction {
    flex-direction: row !important;
  }
}
