* {
  box-sizing: border-box;
}

[data-slate-editor] {
  -webkit-user-modify: read-write !important;
}

li,
ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.disabled-overlay {
  opacity: 0.4;
  cursor: not-allowed;

  .cursor-wrapper {
    pointer-events: none;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.visually-hidden-centered {
  // This is a terrrrrrrrible idea for screen reader purposes
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: auto;
  white-space: nowrap;
  width: 1px;
}

.fit-screen-content {
  min-height: calc(100vh - 15.625rem);
}

.usa-nav-container.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled-transition {
  transition: top 500ms ease-in;
  z-index: 300;
}

.usa-file-input {
  max-width: unset;
  // .usa-file-input__target.usa-file-input--drag
  .usa-file-input__preview,
  .usa-file-input__preview-heading {
    background: $accent-cool-lighter;
  }
}
.usa-form-group--error .usa-file-input__target {
  border-color: #b50909;
}

@media all and (min-width: $xs) {
  .display-block {
    display: block;
  }
}

.display-only-desktop {
  @media screen and (max-width: $lg) {
    display: none;
  }
}

.display-only-mobile-and-tablet {
  @media screen and (min-width: $sm) {
    display: none;
  }
}

.display-none-desktop {
  @media screen and (min-width: $lg) {
    display: none;
  }
}

.inline-icon {
  margin-bottom: -4px;
  font-size: 1.25rem;
}

.inline-block {
  display: inline-block;
}

.page-not-found {
  background: linear-gradient(180deg, rgba(243, 239, 236, 0) 0%, #ecf3ec 100%);
  height: 80vh;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
