* {
  box-sizing: border-box;
}

hr {
  background-color: $base-lighter;
}

.vl {
  border-right: 2px solid $base-lighter;
}

.green-box {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  ul {
    padding-inline-start: 1.25rem;
  }
}

.mla {
  margin-left: auto !important;
}

.width-100 {
  width: 100% !important;
}

.width-80 {
  width: 80%;
}

.width-auto {
  width: auto !important;
}

.bg-chevron {
  @media all and (min-width: $sm) {
    background-image: linear-gradient(-45deg, white 25px, transparent 20px),
      linear-gradient(-135deg, white 25px, transparent 20px);
  }
}

.disabled-overlay {
  opacity: 0.4;
  cursor: not-allowed;
  .cursor-wrapper {
    pointer-events: none;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.visually-hidden-centered {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: auto;
  white-space: nowrap;
  width: 1px;
}

.border-primary,
.hover\:border-primary:hover {
  border-color: $primary !important;
}

.usa-link:visited,
.usa-prose > a:visited {
  color: $primary-darker !important;
}

.fit-screen-content {
  min-height: calc(100vh - 15.625rem);
}

.usa-nav-container.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scrolled-transition {
  transition: top 500ms ease-in;
  z-index: 300;
}

.skip-link {
  background: $white;
  font-weight: 700;
  left: 50%;
  padding: 0.25rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  z-index: 99999;
}

.skip-link:focus,
.skip-link:focus-within {
  transform: translateY(0%);
}

.usa-link-hover-override:hover {
  .icon-green-bg-color-hover {
    background-color: $primary-dark;
  }
  .text-green-color-hover {
    color: $primary-dark;
  }
}

.operate-bullet:before {
  border-radius: 99rem;
  background-color: $primary-darker;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 8px;
  margin-right: 20px;
  box-sizing: border-box;
  font-feature-settings: "tnum" 1, "kern" 1;
  display: inline-block;
}

.operate-bullet.active:before {
  background-color: $primary-dark;
}

.dashboard-opportunities-list {
  @media all and (min-width: $lg) {
    max-height: 925px;
    overflow: auto;
  }
}

.margin-0-override {
  margin: 0 !important;
}

.margin-auto {
  margin: auto;
}

.min-height-575rem {
  min-height: 5.75rem;
}

.width-11rem {
  width: 11rem;
}

.minh-30 {
  min-height: 30rem;
}

.minh-40 {
  min-height: 40rem;
}

.minh-37 {
  min-height: 37rem;
}

.minw-30 {
  min-width: 30rem;
}

.usa-alert__text a,
.usa-link,
.usa-prose > a {
  color: $primary !important;
}

.usa-link:visited,
.usa-prose > a:visited {
  color: $primary !important;
}

.usa-link:focus,
.usa-prose > a:focus {
  outline: 0.25rem solid $primary !important;
}

.usa-link:hover,
.usa-prose > a:hover {
  color: $primary-dark !important;
}

.usa-link:active,
.usa-prose > a:active {
  color: $primary-darker !important;
}

hr {
  height: 1px !important;
  border: none !important;
}

@media all and (min-width: $xs) {
  .form-input {
    max-width: 30rem;
  }
  .display-block {
    display: block;
  }
}

@media all and (min-width: $sm) {
  .form-input {
    max-width: 37.5rem;
  }
  .form-input-wide {
    max-width: 43.75rem;
  }
}

.grayRightGutter {
  background: linear-gradient(to right, $white 70%, $base-lightest 70% 100%);
}

.arrow {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: inherit;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.left::before {
    transform: rotate(-135deg);
    margin: -9px 0 0 -9px;
    left: 13px;
  }
  &.up::before {
    transform: rotate(-45deg);
    margin: -10px 0 0 -9px;
    top: 14px;
  }
  &.down::before {
    transform: rotate(135deg);
    margin: -23px 0 0 -9px;
    top: 100%;
  }
  &.right::before {
    transform: rotate(45deg);
    margin: -9px 0 0 -20px;
    left: 100%;
  }

  &::after {
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: inherit;
    position: absolute;
  }

  &.left::after {
    width: inherit;
    height: 0;
    left: 0%;
    border-width: 2px 0 0 0;
  }

  &.up::after {
    width: 0;
    height: inherit;
    top: 0%;
    border-width: 0 2px 0 0;
  }

  &.down::after {
    width: 0;
    height: inherit;
    top: 0%;
    border-width: 0 2px 0 0;
  }

  &.right::after {
    width: inherit;
    height: 0;
    left: 1%;

    border-width: 2px 0 0 0;
  }
}
