.primary-gradient {
  background-image: linear-gradient(to right, $secondary-vivid-dark, $info-dark-medium);
}

.primary-gradient-reverse {
  background-image: linear-gradient(to right, $info-dark-medium, $secondary-vivid-dark);
}

.secondary-gradient-reverse {
  background-image: linear-gradient(to right, $accent-cooler, $accent-cool-dark-medium);
}

.tertiary-gradient {
  background-image: linear-gradient(to right, $secondary-vivid-dark, $accent-cooler);
}

.tertiary-gradient-reverse {
  background-image: linear-gradient(to right, $accent-cooler, $secondary-vivid-dark);
}
