@use "../sass-files/variables";

.text-base-extra-light {
  color: variables.$base-extra-light !important;
}

.text-primary-extra-light {
  color: variables.$primary-extra-light !important;
}

.text-base {
  color: variables.$base !important;
}

.text-base-darkest {
  color: variables.$base-darkest !important;
}

.text-primary-extra-extra-light {
  color: variables.$primary-extra-extra-light !important;
}
.text-primary {
  color: variables.$primary !important;
}

.text-primary-lightest {
  color: variables.$primary-lightest !important;
}

.text-primary-light-vivid {
  color: variables.$primary-light-vivid !important;
}

.text-primary-more-light {
  color: variables.$primary-more-light !important;
}

.text-accent-cool-lightest {
  color: variables.$accent-cool-lightest !important;
}

.text-accent-cool-dark-medium {
  color: variables.$accent-cool-dark-medium !important;
}

.text-accent-cool-darker {
  color: variables.$accent-cool-darker !important;
}

.text-accent-cool-darkest {
  color: variables.$accent-cool-darkest !important;
}

.text-accent-cool-more-dark {
  color: variables.$accent-cool-more-dark !important;
}

.text-accent-warm-extra-light {
  color: variables.$accent-warm-extra-light !important;
}

.text-success-extra-light {
  color: variables.$success-extra-light !important;
}

.text-success-lighter {
  color: variables.$success-lighter !important;
}

.text-success-light {
  color: variables.$success-light !important;
}

.text-success {
  color: variables.$success !important;
}

.text-success-dark {
  color: variables.$success-dark !important;
}

.text-success-darker {
  color: variables.$success-darker !important;
}

.text-info-extra-light {
  color: variables.$info-extra-light !important;
}

.text-info-light {
  color: variables.$info-light !important;
}

.text-info {
  color: variables.$info !important;
}

.text-info-dark {
  color: variables.$info-dark !important;
}

.text-info-dark-medium {
  color: variables.$info-dark-medium !important;
}

.text-info-darker {
  color: variables.$info-darker !important;
}

.text-info-darkest {
  color: variables.$info-darkest !important;
}

.text-warning-extra-light {
  color: variables.$warning-extra-light !important;
}

.text-warning-light {
  color: variables.$warning-light !important;
}

.text-warning {
  color: variables.$warning !important;
}

.text-warning-dark {
  color: variables.$warning-dark !important;
}

.text-warning-darker {
  color: variables.$warning-darker !important;
}

.text-error-extra-light {
  color: variables.$error-extra-light !important;
}

.text-error-light {
  color: variables.$error-light !important;
}

.text-error {
  color: variables.$error !important;
}

.text-error-dark {
  color: variables.$error-dark !important;
}

.text-error-darker {
  color: variables.$error-darker !important;
}

.text-white {
  color: variables.$white !important;
}

.text-disabled {
  color: variables.$disabled !important;
}

.text-cool-extra-light {
  color: variables.$cool-extra-light !important;
}

.text-cool-lighter {
  color: variables.$cool-lighter !important;
}
.text-accent-cooler-lightest {
  color: variables.$accent-cooler-lightest !important;
}
.text-accent-cooler-light {
  color: variables.$accent-cooler-light !important;
}

.text-accent-cooler {
  color: variables.$accent-cooler !important;
}

.text-accent-cooler-dark {
  color: variables.$accent-cooler-dark !important;
}

.text-accent-cooler-darker {
  color: variables.$accent-cooler-darker !important;
}

.text-accent-hot-extra-light {
  color: variables.$accent-hot-extra-light !important;
}

.text-accent-hot {
  color: variables.$accent-hot !important;
}

.text-accent-hot-darker {
  color: variables.$accent-hot-darker !important;
}

.text-accent-semi-cool-extra-light {
  color: variables.$accent-semi-cool-extra-light !important;
}

.text-accent-semi-cool-lightest {
  color: variables.$accent-semi-cool-lightest !important;
}
.text-accent-semi-cool-light {
  color: variables.$accent-semi-cool-light !important;
}
.text-accent-semi-cool-vivid {
  color: variables.$accent-semi-cool-vivid !important;
}
.text-accent-semi-cool {
  color: variables.$accent-semi-cool !important;
}
.text-accent-semi-cool-500 {
  color: variables.$accent-semi-cool-500 !important;
}
.text-accent-semi-cool-700 {
  color: variables.$accent-semi-cool-700 !important;
}
.text-accent-semi-cool-800 {
  color: variables.$accent-semi-cool-800 !important;
}
.text-accent-semi-cool-900 {
  color: variables.$accent-semi-cool-900 !important;
}

.text-secondary-vivid-dark {
  color: variables.$secondary-vivid-dark !important;
}

.text-secondary-vivid {
  color: variables.$secondary-vivid !important;
}
