.usa-prose > .h1,
.usa-prose > .h1-styling,
.h1-styling,
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 120% !important;
  color: $base-darkest;
  letter-spacing: -0.4px;
}

.h1-styling-large {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 3rem !important;
  line-height: 120% !important;
  letter-spacing: -0.4px;
}

.usa-prose > .h2,
.usa-prose > .h2-styling,
.h2-styling,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 600;
  font-size: 1.75rem !important;
  line-height: 120% !important;
  color: $base-darkest;
}

.usa-prose > .h3,
.usa-prose > .h3-styling,
.h3-styling,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 600;
  font-size: 1.375rem !important;
  line-height: 120% !important;
  color: $base-darkest;
}

.usa-prose > .h4,
.usa-prose > .h4-styling,
.h4-styling,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 1rem !important;
  line-height: 132% !important;
  color: $base-darkest;
}

.usa-prose > h5 + *,
.usa-prose > h6 + * {
  margin-top: 0 !important;
}

.usa-prose > .h5,
.usa-prose > .h5-styling,
.h5-styling,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.875rem !important;
  line-height: 132% !important;
  color: $base-dark;
  text-transform: uppercase;
  display: inline;
}

.usa-prose > .h6,
.usa-prose > .h6-styling,
.h6-styling,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem !important;
  line-height: 132% !important;
  color: $base-dark;
  text-transform: uppercase;
  display: inline;
}

li,
p,
div,
span,
strong {
  margin-block-start: 0;
  margin-block-end: 0;
}

div {
  line-height: 160%;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}

.line-height-1 {
  line-height: 1rem;
}

.dashed-underline {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}

.no-link-style {
  text-decoration: unset;
}

.no-link-style:hover {
  text-decoration: unset;
}

.weight-unset {
  font-weight: unset;
}

.weight-unset-override {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: unset !important;
  }
}

.override-p-2xs {
  p,
  ul,
  li,
  ol {
    font-size: 0.88rem !important;
  }
}

.weight-inherit {
  font-weight: inherit !important;
}

.style-inherit {
  font-style: inherit !important;
}

.usa-prose > p,
p {
  max-width: unset !important;
}

li {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.usa-prose > ul li,
.usa-prose > ol li {
  max-width: fit-content !important;
}

.underline {
  text-decoration: underline !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-info-lighter {
  color: $info-lighter !important;
}

.text-info-light {
  color: $info-light !important;
}

.text-info {
  color: $info !important;
}

.text-info-dark {
  color: $info-dark !important;
}

.text-info-darker {
  color: $info-darker !important;
}

.text-error-lighter {
  color: $error-lighter !important;
}

.text-error-light {
  color: $error-light !important;
}

.text-error {
  color: $error !important;
}

.text-error-dark {
  color: $error-dark !important;
}

.text-error-darker {
  color: $error-darker !important;
}

.text-success-lighter {
  color: $success-lighter !important;
}

.text-success-light {
  color: $success-light !important;
}

.text-success {
  color: $success !important;
}

.text-success-dark {
  color: $success-dark !important;
}

.text-success-darker {
  color: $success-darker !important;
}

.text-warning-lighter {
  color: $warning-lighter !important;
}

.text-warning-light {
  color: $warning-light !important;
}

.text-warning {
  color: $warning !important;
}

.text-warning-dark {
  color: $warning-dark !important;
}

.text-warning-darker {
  color: $warning-darker !important;
}

.text-disabled-light {
  color: $disabled-light !important;
}

.text-disabled {
  color: $disabled !important;
}

.text-disabled-dark {
  color: $disabled-dark !important;
}
