.usa-prose > .h1,
.usa-prose > .h1-styling,
.h1-styling,
h1 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0rem 0rem 1rem 0rem !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 160% !important;
  color: $base-darkest;
  letter-spacing: -0.4px !important;
}

.h1-styling-large {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0rem 0rem 1rem 0rem !important;
  font-weight: 700 !important;
  font-size: 3rem !important;
  line-height: 120% !important;
  letter-spacing: -0.4px !important;
}

.usa-prose > .h2-styling,
.h2-styling,
h2 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0rem 0rem 1rem 0rem !important;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  line-height: 160% !important;
  color: $base-darkest;
}

.usa-prose > .h3-styling,
.h3-styling,
h3 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0rem 0rem 1rem 0rem !important;
  font-weight: 600 !important;
  font-size: 1.375rem !important;
  line-height: 160% !important;
  color: $base-darkest;
}

.usa-prose > .h4,
.usa-prose > .h4-styling,
.h4-styling,
h4 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0rem 0rem 1rem 0rem !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  line-height: 160% !important;
  color: $base-darkest;
}

.usa-prose > h5 + *,
.usa-prose > h6 + * {
  margin-top: 0 !important;
}

.usa-prose > .h5,
.usa-prose > .h5-styling,
.h5-styling,
h5 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0 !important;
  font-weight: 700 !important;
  font-size: 0.875rem !important;
  line-height: 160% !important;
  color: $base-dark !important;
  text-transform: uppercase !important;
  display: inline !important;
}

.usa-prose > .h6,
.usa-prose > .h6-styling,
.h6-styling,
h6 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 160% !important;
  color: $base-dark !important;
  text-transform: uppercase !important;
  display: inline !important;
}

.text-info-lighter {
  color: $info-lighter !important;
}

.text-info-light {
  color: $info-light !important;
}

.text-info {
  color: $info !important;
}

.text-info-dark {
  color: $info-dark !important;
}

.text-info-darker {
  color: $info-darker !important;
}

.text-error-lighter {
  color: $error-lighter !important;
}

.text-error-light {
  color: $error-light !important;
}

.text-error {
  color: $error !important;
}

.text-error-dark {
  color: $error-dark !important;
}

.text-error-darker {
  color: $error-darker !important;
}

.text-success-lighter {
  color: $success-lighter !important;
}

.text-success-light {
  color: $success-light !important;
}

.text-success {
  color: $success !important;
}

.text-success-dark {
  color: $success-dark !important;
}

.text-success-darker {
  color: $success-darker !important;
}

.text-warning-lighter {
  color: $warning-lighter !important;
}

.text-warning-light {
  color: $warning-light !important;
}

.text-warning {
  color: $warning !important;
}

.text-warning-dark {
  color: $warning-dark !important;
}

.text-warning-darker {
  color: $warning-darker !important;
}

.text-disabled-light {
  color: $disabled-light !important;
}

.text-disabled {
  color: $disabled !important;
}

.text-disabled-dark {
  color: $disabled-dark !important;
}
