@use "../sass-files/variables";

@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v15/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuyJ6JxAcofVotfzbj.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
button {
  color: variables.$base-darkest;
}

.h1-styling-large {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 3rem !important;
  line-height: 120% !important;
  letter-spacing: -0.4px;
  text-transform: none;
}

.usa-prose > h1,
.usa-prose > .h1-styling,
.h1-styling,
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 2rem !important;
  line-height: 120% !important;
  letter-spacing: -0.4px;
  color: variables.$base-darkest;
  text-transform: none;
}

.usa-prose > h2,
.usa-prose > .h2-styling,
.h2-styling,
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 600;
  font-size: 1.75rem !important;
  line-height: 120% !important;
  color: variables.$base-darkest;
  text-transform: none;
}

.usa-prose > h3,
.usa-prose > .h3-styling,
.h3-styling,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 500;
  font-size: 1.375rem !important;
  line-height: 120% !important;
  color: variables.$base-darkest;
  text-transform: none;
}

.usa-prose > h4,
.usa-prose > .h4-styling,
.h4-styling,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 700;
  font-size: 1.125rem !important;
  line-height: 140% !important;
  color: variables.$base-darkest;
  text-transform: none;
}

.usa-prose > h5 + *,
.usa-prose > h6 + * {
  margin-top: 0 !important;
}

.usa-prose > h5,
.usa-prose > .h5-styling,
.h5-styling,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.875rem !important;
  line-height: 132% !important;
  color: variables.$base-darkest;
  display: inline;
  text-transform: none;
}

.usa-prose > h6,
.usa-prose > .h6-styling,
.h6-styling,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem !important;
  line-height: 132% !important;
  color: variables.$base-darkest;
  display: inline;
  text-transform: none;
}

li,
p,
div,
span,
strong {
  margin-block-start: 0;
  margin-block-end: 0;
}

div {
  line-height: 160%;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}

.line-height-1 {
  line-height: 1rem;
}

.dashed-underline {
  text-decoration: dotted underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.no-link-style {
  text-decoration: unset;
}

.no-link-style:hover {
  text-decoration: unset;
}

.weight-unset {
  font-weight: unset;
}

.weight-unset-override {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: unset !important;
  }
}

.override-p-2xs {
  p,
  ul,
  li,
  ol {
    font-size: 0.88rem !important;
  }
}

.text-medium {
  font-weight: 500;
}

.font-weight-inherit {
  font-weight: inherit;
}

.font-size-inherit {
  font-size: inherit;
}

.weight-inherit {
  font-weight: inherit !important;
}

.style-inherit {
  font-style: inherit !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.usa-prose > p,
p {
  max-width: unset !important;
}

li {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.usa-prose > ul li,
.usa-prose > ol li {
  max-width: 100% !important;
}

.underline {
  text-decoration: underline !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-height-100 {
  line-height: 100%;
}

.line-height-120 {
  line-height: 120%;
}

.text-semibold-hover:hover {
  font-weight: 600;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.text-no-underline-override {
  text-decoration: none;
}

.break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.usa-prose {
  p:not(:first-child) {
    margin-top: 0.25rem !important;
  }
}

.usa-prose p + h2,
.usa-prose p + h3,
.usa-prose p + h4 {
  margin-top: 1rem !important;
}

.no-wrap {
  white-space: nowrap;
}
