$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

$base-lightest: #f0f0f0;
$base-lighter: #e6e6e6;
$base-light: #adadad;
$base: #757575;
$base-dark: #5c5c5c;
$base-darkest: #1b1b1b;
$ink: #1b1b1b;
$beta: #faf3d1;

$primary-lighter: #c5ee93;
$primary-light: #7fb135;
$primary: #4b7600;
$primary-vivid: #6a7d00;
$primary-dark: #466c04;
$primary-darker: #243413;

$secondary-lighter: #cfe8ff;
$secondary-light: #73b3e7;
$secondary: #2378c3;
$secondary-vivid: #0076d6;
$secondary-dark: #0050d8;
$secondary-darker: #162e51;

$accent-cool-lighter: #d9e8f6;
$accent-cool-light: #aacdec;
$accent-cool: #73b3e7;
$accent-cool-dark: #4f97d1;
$accent-cool-darker: #2c608a;

$accent-warm-lighter: #ffe396;
$accent-warm-light: #e5a000;
$accent-warm: #936f38;
$accent-warm-dark: #7a591a;
$accent-warm-darker: #5c410a;

$info-lighter: #e7f6f8;
$info-light: #99deea;
$info: #00bde3;
$info-dark: #009ec1;
$info-darker: #2e6276;

$error-lighter: #f4e3db;
$error-light: #f39268;
$error: #d54309;
$error-dark: #b51d09;
$error-darker: #6f3331;

$warning-lighter: #faf3d1;
$warning-light: #fee685;
$warning: #ffbe2e;
$warning-dark: #e5a000;
$warning-darker: #936f38;

$success-lighter: #ecf3ec;
$success-light: #70e17b;
$success: #00a91c;
$success-dark: #4d8055;
$success-darker: #446443;

$disabled-light: $base-lighter;
$disabled: $base;
$disabled-dark: $base-light;

$black: #000;
$white: #fff;
