.width-max-content {
  width: max-content;
}

.max-width-38rem {
  max-width: 38rem;
}

.width-11rem {
  width: 11rem;
}

.width-15rem {
  width: 15rem;
}

.width-100 {
  width: 100% !important;
}

.width-80 {
  width: 80%;
}

.width-auto {
  width: auto !important;
}
