@use "../sass-files/variables";

.usa-alert--error::before {
  mask: url(/vendor/img/usa-icons/error.svg) no-repeat center !important;
}

.usa-alert--note::before {
  content: url(/img/push-pin.svg);
  height: 2.5rem;
  width: 1.5rem;
  display: block;
  position: absolute;
  left: 0.91rem;
}

.usa-alert.radius-md::before {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.usa-alert.usa-alert--note {
  background-color: variables.$base-lightest;
  border-left-color: variables.$secondary;
  border-right-color: variables.$secondary;
  color: variables.$base-darkest;
}
