.anytime-action-tile-spacing {
  margin-top: 1.5rem;

  @media (min-width: 64em) {
    &:nth-child(n + 3):nth-last-child(n) {
      margin-top: 1.5rem;
    }

    &:nth-child(odd) {
      padding-right: 0.75rem;
    }

    &:nth-child(even) {
      padding-left: 0.75rem;
    }
  }
}

.anytime-action-tile {
  background-color: $base-extra-light;
  border: 2px solid $base-lightest;
  cursor: pointer;
  height: 100%;
  line-height: 160%;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}
.anytime-action-tile:hover {
  background-color: $base-lightest;
}
