@use "../sass-files/variables";

.row-desktop-column-mobile {
  display: flex;
  flex-direction: column;
  @media (min-width: variables.$xs) {
    flex-direction: row;
  }
}

.flex-align-center-desktop-start-mobile {
  display: flex;
  align-items: flex-start;
  @media (min-width: variables.$xs) {
    align-items: center;
  }
}
