@use "../sass-files/mixin";
@use "../sass-files/variables";

.usa-button--outline {
  background-color: variables.$white !important;
}

.usa-button--simple {
  text-decoration: none !important;
  text-align: unset !important;
}

.usa-button--unstyled {
  color: variables.$accent-cool-darkest !important;
  @extend .usa-button--simple;
  > .dashed-underline > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: variables.$primary !important;
    margin-bottom: 0;
    margin-top: 0;
    clear: both;
  }
}

.clear-button {
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  cursor: pointer;
}

.small-transparent {
  font-size: 0.88rem;
  padding: 1px 0.5rem;
}

.hide-unhide-button:hover {
  border: 1px solid #5c5c5c !important;
  color: #5c5c5c !important;
}

.hide-unhide-button-accent-cooler:hover {
  border: 2px solid #5c3f74 !important;
  color: #5c3f74 !important;
}

.task-checkbox-base {
  border-radius: 99rem;
  outline: none !important;
}

.usa-button--outline.border-2px:hover {
  border: 2px solid;
}

.task-checkbox-base-lighter:hover,
.task-checkbox-base-lighter:focus {
  background-color: variables.$base-lighter;
}

.task-checkbox-accent-cool-lighter:hover,
.task-checkbox-accent-cool-lighter:focus {
  background-color: variables.$accent-cool-lighter;
}

.task-checkbox-primary-lightest:hover,
.task-checkbox-primary-lightest:focus {
  background-color: variables.$primary-lightest;
}

.btn-accent-cool-darker {
  background-color: variables.$accent-cool-darker !important;
  &:hover {
    background-color: variables.$accent-cool-darkest !important;
  }
  &:active {
    background-color: variables.$accent-cool-more-dark !important;
  }
}

.btn-accent-cool-darker {
  background-color: variables.$accent-cool-darker !important;
  &:hover {
    background-color: variables.$accent-cool-darkest !important;
  }
  &:active {
    background-color: variables.$accent-cool-more-dark !important;
  }
}

.btn-accent-cooler {
  background-color: variables.$accent-cooler !important;
  &:hover {
    background-color: variables.$accent-cooler-dark !important;
  }
  &:active {
    background-color: variables.$accent-cooler-darker !important;
  }
}

.btn-error-dark {
  background-color: variables.$error-dark !important;
  &:hover {
    background-color: variables.$accent-hot-darker !important;
  }
  &:active {
    background-color: variables.$error-darker !important;
  }
}

.btn-accent-semi-cool {
  background-color: variables.$accent-semi-cool-700 !important;
  &:hover {
    background-color: variables.$accent-semi-cool-800 !important;
  }
  &:active {
    background-color: variables.$accent-semi-cool-900 !important;
  }
}

.btn-success-extra-light {
  color: variables.$primary-dark !important;
  background: variables.$success-extra-light;
  &:hover {
    background-color: variables.$success-lighter !important;
  }
  &:active {
    background-color: variables.$primary-lighter !important;
  }
}

.btn-accent-cool-lightest {
  background-color: variables.$accent-cool-lightest !important;
  color: variables.$base-darkest !important;
  &:hover {
    background-color: variables.$accent-cool-lighter !important;
  }
  &:active {
    background-color: variables.$accent-cool-light !important;
  }
}

.btn-white {
  &:hover {
    @include mixin.addDropShadow(variables.$drop-shadow-md);
  }

  background-color: variables.$white !important;

  &:active {
    background-color: variables.$base-lighter !important;
  }
}

.btn-profile-hoverstate {
  &:hover,
  & .selected {
    color: variables.$primary-dark;
    font-weight: bold;
    opacity: 0.8;
  }
}

.slider-button {
  position: absolute;
  top: 50%;
  display: block;
  width: 4.375rem;
  height: 11.375rem;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: variables.$secondary;
  border: none;
  background-color: variables.$white;
  opacity: 90%;

  &.next {
    right: 0;
  }

  &.prev {
    left: 0;
    z-index: 30;
  }
}

.usa-icon {
  &.nextIcon,
  &.prevIcon {
    width: 4.375rem;
    height: 5rem;
    &:hover {
      color: variables.$secondary-dark;
    }
    &:active {
      color: variables.$secondary-dark;
    }
  }
}

.landing-page-tile {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 2.5rem 1.5rem;
  gap: 1rem;
  font-weight: bold;
  background-color: variables.$accent-cool-lightest;
  height: 4.25rem;
  width: 100%;
  border: 0.125rem solid variables.$secondary-lighter;
  border-radius: 0.625rem;
  cursor: pointer;
  color: black;
  &:hover {
    @include mixin.addDropShadow(variables.$drop-shadow-md);
    border: 0.125rem solid variables.$primary-light;
    color: black;
  }
  &:active {
    background-color: variables.$secondary-lighter;
  }
  &:focus {
    outline-offset: 0.25rem;
  }

  @media (max-width: variables.$md) {
    width: 16.5rem;
    padding: 0.5rem 1rem;
  }
}

.landing-page-secondary-tile {
  @extend .landing-page-tile;
  font-weight: normal;
  background-color: variables.$white;
  border: 0.125rem solid variables.$base-lighter;
  &:hover {
    background-color: variables.$white;
  }
  &:active {
    background-color: variables.$base-lightest;
  }
}

.clamp-lines__button {
  @extend .usa-button !optional;
  @extend .usa-button--unstyled;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline !important;
}

.usa-icon-button-margin {
  min-width: 22px !important;
  min-height: 22px !important;
  margin-left: 0.5rem;
}
