.callout-informational-icon {
  content: url(/img/callouts/informational.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-conditional-icon {
  content: url(/img/callouts/conditional.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-warning-icon {
  content: url(/img/callouts/warning.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-icon {
  height: 1.25rem !important;
  width: 1.25rem !important;
}
