.callout-note-icon {
  content: url(/img/callouts/note.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-informational-icon {
  content: url(/img/callouts/informational.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-conditional-icon {
  content: url(/img/callouts/conditional.svg);
  margin-right: 0.75rem;
  display: block;
}

.callout-warning-icon {
  content: url(/img/callouts/warning.svg);
  margin-right: 0.75rem;
  display: block;
}
