.landing-card {
  max-width: 20rem;
  height: 22rem;
  border-style: solid;
  border-radius: 0px 0px 8px 8px;
}

.box-shadow-roadmap-purple-light {
  box-shadow: -6px 7px 0px 0px $roadmap-purple-light;
}

.box-shadow-primary-light {
  box-shadow: -6px 7px 0px 0px $roadmap-primary-light;
}

.box-shadow-roadmap-blue-light {
  box-shadow: -6px 7px 0px 0px $roadmap-blue-light;
}
