.landing-card {
  max-width: 20rem;
  min-width: 20rem;
  height: 22rem;
  border-style: solid;
  border-radius: 0px 0px 8px 8px;
}

.box-shadow-roadmap-purple-light {
  box-shadow: -6px 7px 0px 0px $roadmap-purple-light;
}

.box-shadow-primary-light {
  box-shadow: -6px 7px 0px 0px $roadmap-primary-light;
}

.box-shadow-roadmap-blue-light {
  box-shadow: -6px 7px 0px 0px $roadmap-blue-light;
}

.dashboard-opportunity-card-due-date {
  font-size: 0.88rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: $base-dark;
}

.dashboard-opportunity-card-status {
  font-size: 0.88rem;
  font-weight: 500;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.dashboard-opportunity-card-due-date-header {
  font-size: 0.88rem;
  font-weight: 600;
}
