.landing-card {
  width: 18rem;
  height: 24rem;
  border-style: solid;
  border-radius: 0px 0px 8px 8px;

  @media all and (min-width: $lg) {
    width: 20rem;
    height: 22rem;
  }
}

.go-to-profile-display-inline-children-p > p {
  display: inline;
}

.dashboard-opportunity-card-due-date {
  font-size: 0.88rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: $base-dark;
}

.dashboard-opportunity-card-due-date-header {
  font-size: 0.88rem;
  font-weight: 600;
}

.support-action-card {
  line-height: 180% !important;
}
