.cta-container {
  background-color: $base-lightest;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem;
  margin: 1.5rem -2rem -2rem -2rem;

  @-moz-document url-prefix() {
    margin: 1.5rem -2rem -2rem -2rem;
  }

  button {
    width: 100%;
  }

  .usa-icon {
    width: 22px;
    height: 22px;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
  }

  .btn-container + .btn-container {
    margin-bottom: 1.5rem;
  }
}

.cta-container.no-background-color {
  background-color: transparent;
}

.margin-btm-neg-2 {
  margin-bottom: -3.5rem;

  @-moz-document url-prefix() {
    margin-bottom: -3.05rem;
  }
}

@media screen and (min-width: $sm) {
  .cta-container {
    flex-direction: row;
    justify-content: flex-end;

    .btn-container + .btn-container {
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
}
