.input-error-bar {
  left: -13px !important;
  margin-left: 0 !important;
  padding-left: 13px !important;
  margin-right: -17px !important;
  position: relative;
}

.input-error-bar.error {
  border-left-width: 4px;
  border-left-color: #d54309;
  border-left-style: solid;
  left: -17px !important;
  margin-bottom: 1em;
  ~ * {
    margin-bottom: 1em;
  }
}
