.input-error-bar {
  margin-left: 0 !important;
  position: relative;
}

.input-error-bar.error {
  border-left-width: 4px;
  border-left-color: #d54309;
  border-left-style: solid;
  padding-left: 13px !important;
  left: -17px !important;
  width: calc(100% + 17px);
  margin-bottom: 1em;
}
