.quick-action-tile {
  &:nth-child(n + 3):nth-last-child(n) {
    margin-top: 1.5rem;
  }

  &:nth-child(odd) {
    padding-right: 0.75rem;
  }

  &:nth-child(even) {
    padding-left: 0.75rem;
  }
}
