@use "../sass-files/variables";

.vertical-step-indicator {
  .usa-step-indicator--counters .usa-step-indicator__segment,
  .usa-step-indicator--counters-smaller .usa-step-indicator__segment {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .usa-step-indicator--counters .usa-step-indicator__segment:before {
    height: 2rem;
    background-color: variables.$white;
    border-radius: 99rem;
    width: 2rem;
    font-feature-settings: "tnum" 1, "kern" 1;
    content: attr(data-num) !important;
    font-weight: 700;
    line-height: 1;
    padding: 7px;
    position: absolute;
    text-align: center;
    top: calc((2.5rem - 0.5rem) / -2);
    z-index: 100;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 3px;
    color: variables.$primary-darker !important;
    box-shadow: inset 0 0 0 0.2rem variables.$primary-darker, 0 0 0 0 #fff !important;
  }

  .usa-step-indicator--counters .usa-step-indicator__segment-smaller {
    margin-top: 4px !important;
  }

  .usa-step-indicator--counters .usa-step-indicator__segment-smaller:before {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4.25px;
    font-size: 16px;
    box-shadow: inset 0 0 0 0.15rem variables.$primary-darker, 0 0 0 0 #fff !important;
  }

  .vertical-bar {
    width: 0.25rem;
    position: absolute;
    height: 0rem;
    z-index: 90;
    background-color: variables.$cool-lighter;
    left: 18px;
  }

  .vertical-bar-smaller {
    width: 0.25rem;
    position: absolute;
    height: 0rem;
    z-index: 90;
    background-color: variables.$cool-lighter;
    left: 14px;
  }
}

.horizontal-step-indicator {
  /* ----- STEP INDICATOR STYLING ----- */
  .usa-step-indicator {
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }

  .usa-step-indicator__segment {
    max-width: none;
  }

  .usa-step-indicator--counters .usa-step-indicator__segment,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-left: 0;
    margin-right: 0;
    margin-top: calc(((2.5rem - 0.5rem) / 2) + 0.25rem);
    padding-bottom: 2rem;
    @media (min-width: 40em) {
      padding-bottom: 1rem;
    }
    @media all and (max-width: variables.$sm) {
      padding-top: 1rem;
      margin-top: 0;
      padding-bottom: 2.5rem;
    }
  }

  /* ----- SEGMENT STYLING (horizontal line connecting steps) ----- */

  .usa-step-indicator__segment:after {
    height: 2px !important;
    left: 50%;
    right: -50%;
    top: 1.7rem;
    @media all and (max-width: variables.$sm) {
      top: 1.5rem;
    }
  }

  .usa-step-indicator__segment:after,
  .usa-step-indicator__segment--current:after,
  .usa-step-indicator__segment--error:after,
  .usa-step-indicator__segment--complete:after {
    background-color: variables.$base-light;
  }

  .usa-step-indicator--counters-sm.usa-step-indicator .usa-step-indicator__segment:last-child:after,
  .usa-step-indicator--counters.usa-step-indicator .usa-step-indicator__segment:last-child:after {
    display: block;
    right: 50%;
    width: auto;
  }

  /* ----- LABEL STYLING ----- */

  .usa-step-indicator__segment-label {
    color: variables.$base;
    text-align: center;
    padding: 1.5rem 0 0 0;
    @media all and (max-width: variables.$sm) {
      padding: 0 0 0 0;
    }
  }

  .usa-step-indicator__segment--current .usa-step-indicator__segment-label {
    color: variables.$accent-cool-darker;
  }

  .usa-step-indicator__segment--complete .usa-step-indicator__segment-label {
    color: variables.$primary;
  }

  .usa-step-indicator__segment--error .usa-step-indicator__segment-label {
    color: variables.$error-dark;
  }

  /* ----- COUNTER CIRCLES STYLING ----- */

  .usa-step-indicator--counters .usa-step-indicator__segment:before,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
    height: 1.5rem;
    border-radius: 99rem;
    width: 1.5rem;
    font-size: 0.88rem;
    padding: calc(0.25rem + 1px);
    top: 1rem;
    font-feature-settings: "tnum" 1, "kern" 1;
    background-color: #fff;
    box-shadow: inset 0 0 0 0.25rem #e6e6e6, 0 0 0 0.25rem #fff;
    color: #5c5c5c;
    content: counter(usa-step-indicator);
    display: block;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    text-align: center;
    z-index: 100;
    margin-left: 1px;
    margin-right: 1px;

    @media all and (max-width: variables.$sm) {
      top: 0.75;
    }
  }

  .usa-step-indicator__segment::before {
    color: variables.$white !important;
    background-color: variables.$base-light !important;
    box-shadow: none !important;
  }

  .usa-step-indicator__segment--error::before {
    background-color: variables.$error-dark !important;
  }

  .usa-step-indicator__segment--current::before {
    background-color: variables.$accent-cool-darker !important;
  }

  .usa-step-indicator__segment--complete::before {
    background-color: variables.$primary !important;
  }

  .usa-step-indicator__segment--complete:before,
  .usa-step-indicator__segment--error:before,
  .usa-step-indicator__segment--current:before,
  .usa-step-indicator__segment:before {
    content: attr(data-num) !important;
    left: calc(50% - 12px) !important;
  }
}

.substep-unchecked:before {
  border-radius: 99rem;
  background-color: variables.$white;
  border: 2px solid variables.$primary-darker;
  box-sizing: border-box;
  font-feature-settings: "tnum" 1, "kern" 1;
  content: "";
  display: block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  z-index: 100;

  height: 1rem;
  width: 1rem;
  margin-left: 1px;
  margin-right: 1px;

  @media all and (min-width: variables.$sm) {
    margin-top: 0;
  }
}

.substep-unchecked.active:before {
  border: 2px solid variables.$primary-darker;
}

.checked-task {
  min-width: 1.125rem;
  min-height: 1.125rem;
}

.stepper-wrapper {
  margin-bottom: 0;
  @media screen and (min-width: variables.$sm) {
    margin-bottom: 2rem;
  }
}
