table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table,
th,
td,
.usa-prose > table td,
.usa-prose > table th {
  border: 2px solid $base-light;
}

td {
  height: 15rem;
  vertical-align: top;
  padding: 1rem;
}

.td-gray-border {
  border: 2px solid $base-light !important;
}

.env-table td {
  height: 1rem;
  table-layout: auto;
}

.env-table td.enabled {
  background-color: lightgreen;
}

.env-table td.disabled {
  background-color: lightpink;
}

table.business-formation-table {
  border: 0px solid #f0f0f0;

  thead {
    tr {
      th:nth-child(3) {
        text-align: right;
        padding-right: 1em;
        width: 6rem;
      }
      th:nth-child(1) {
        width: 4rem;
        padding-left: 1em;
        text-align: left;
        white-space: nowrap;
      }
      th {
        height: 1rem;
        border: 0px;
        border-bottom: 1px solid $base-light;
      }
    }
  }

  tbody {
    border: 1px solid #f0f0f0;

    tr {
      td:nth-child(3) {
        text-align: right;
      }
      td:nth-child(2) {
        padding-left: 0;
      }
      td {
        width: 4rem !important;
        height: 1rem;
        border: 0px;
      }
    }
  }

  tfoot tr {
    border: 1px solid #f0f0f0;
    background: #ecf3ec;
    td {
      height: 1rem;
      border: 0px;
    }
  }

  .business-formation-table-checkboxes {
    span {
      padding: 0;
    }
  }
}

table.business-formation-document {
  tbody {
    tr:nth-child(2) {
      background: #f7f7f7;
    }
  }
}

table.business-formation-payment {
  thead {
    border-top: 1px solid $base-light;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    tr:nth-child(1) th {
      padding-top: 1em;
    }
    tr:nth-child(2) th {
      padding-bottom: 0.5em;
    }
    th {
      padding-left: 1em;
      padding-right: 1em;

      border-bottom: 0px !important;
    }
  }

  tbody {
    tr:nth-child(1) {
      background: #f7f7f7;
    }
  }
}
