.usa-tag-padding-override {
  padding: 3px 7px;
}

.accent-cool-hover-override:hover {
  background-color: $accent-cool !important;
}

.tag-fixed-width {
  width: 134px !important;
  text-align: center;
}
