.cms {
  .usa-prose {
    p,
    ul,
    ol,
    li {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }

    ul,
    ol {
      padding-left: 3ch;
    }
  }

  svg.MuiSvgIcon-root {
    display: none;
  }

  .css-zzms1-MuiSnackbar-root {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    transform: unset;
  }
}
