.green-box {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  ul {
    padding-inline-start: 1.25rem;
  }
}

.cms {
  svg.MuiSvgIcon-root {
    display: none;
  }

  .css-zzms1-MuiSnackbar-root {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    transform: unset;
  }
}
