@use "../sass-files/variables";

.footer-social-media-icon {
  color: variables.$base-lighter;
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.footer-social-media-icon:hover {
  color: variables.$white;
}

ul.footer-social-media-structure {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    margin: 0;
  }
}
