.footer-link-custom {
  color: $primary-light !important;
  font-weight: 400 !important;
  text-decoration: none;
}

.footer-link-custom:focus {
  text-decoration: underline;
}

.footer-link-custom:hover {
  text-decoration: underline;
}

.footer-link-custom:active {
  text-decoration: underline;
}

.footer-text-custom {
  font-weight: 400 !important;
}

.icon-custom {
  color: $base-lighter;
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.icon-custom:hover {
  color: $white;
}

.heart-custom {
  color: $accent-hot;
}

.margin-right-none {
  margin-right: 0rem !important;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-block-mobile {
  display: block;
}

.footer-divider-top {
  border-top: 1px solid $base;
}

.footer-divider-bottom {
  border-bottom: 1px solid $base;
}

@media only screen and (min-width: $lg) {
  .footer-container span:not(:first-child) {
    border-left: 1px solid $base;
  }

  .footer-divider-top {
    border-top: 1px solid $base;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-container-external {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
  }

  .display-inline-desktop {
    display: inline;
  }
  .footer-divider-bottom {
    border-bottom: 0rem;
    padding-bottom: 0.25rem !important;
  }
}
