@use "../sass-files/variables";

@media only screen and (min-width: variables.$lg) {
  .padding-top-1 {
    padding-top: 1rem !important;
  }

  .padding-bottom-5 {
    padding-bottom: 5.3rem !important;
  }
}

.green-divider-center {
  height: 3rem;
  width: 20rem;
  position: relative;
  border-top: 0.125rem solid variables.$primary-light;
}

.hero-gradient-bg {
  background: linear-gradient(variables.$white, variables.$white, variables.$primary-extra-light) !important;
}

.hero-gradient-bg-bottom {
  padding-bottom: 100px;
  background: variables.$primary-extra-light url(/img/Bg-wavy-white.svg) bottom center no-repeat;
  background-size: 100%;
  height: auto;
}

.hero-gradient-bg-bottom-mobile {
  background: variables.$primary-extra-light url(/img/Bg-wavy-white.svg) bottom center no-repeat;
  background-size: 200%;
}

.landing-two-column-row {
  .landing-feature-text {
    margin-left: 3.5rem;
    margin-right: 2.5rem;
  }
  img {
    margin-left: 2.5rem;
  }
  &:first-child {
    margin-top: -15rem;
    .landing-feature-text {
      margin-top: 30rem;
    }
  }
  &:nth-child(2) {
    margin-top: -20rem;
    .landing-feature-text {
      margin-top: 25rem;
      margin-left: 2.5rem;
      margin-right: 3.5rem;
    }
    img {
      margin-right: 2.5rem;
      margin-left: 0rem;
    }
  }
  &:nth-child(3) {
    margin-top: -5rem;
    .landing-feature-text {
      margin-top: 10rem;
      margin-left: 3.5rem;
    }
  }
}

.landing-one-column-row {
  margin-top: -2rem;
  .landing-feature-text {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &:first-child {
    img {
      margin-top: -8rem;
    }
  }
  &:nth-child(2) {
    img {
      margin-top: -7rem;
    }
  }
}

.landing-feature-img {
  min-height: 850px;
  min-width: 50vw;
}

.landing-support-container {
  margin-top: -18rem;
}

.how-it-works-section-arrow {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: inherit;
    border-width: 2px 2px 0 0;
    position: absolute;
    transform-origin: 50% 50%;
  }

  &.left::before {
    transform: rotate(-135deg);
    margin: -9px 0 0 -9px;
    left: 13px;
  }

  &.up::before {
    transform: rotate(-45deg);
    margin: -10px 0 0 -9px;
    top: 14px;
  }

  &.down::before {
    transform: rotate(135deg);
    margin: -23px 0 0 -9px;
    top: 100%;
  }

  &.right::before {
    transform: rotate(45deg);
    margin: -9px 0 0 -20px;
    left: 100%;
  }

  &::after {
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: inherit;
    position: absolute;
  }

  &.left::after {
    width: inherit;
    height: 0;
    left: 0;
    border-width: 2px 0 0 0;
  }

  &.up::after {
    width: 0;
    height: inherit;
    top: 0;
    border-width: 0 2px 0 0;
  }

  &.down::after {
    width: 0;
    height: inherit;
    top: 0;
    border-width: 0 2px 0 0;
  }

  &.right::after {
    width: inherit;
    height: 0;
    left: 1%;

    border-width: 2px 0 0 0;
  }
}

.landing-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;

  @media (max-width: variables.$lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: variables.$md) {
    grid-template-columns: 1fr;
    width: auto;
  }
}
