@media only screen and (min-width: $lg) {
  .padding-top-1 {
    padding-top: 1rem !important;
  }

  .padding-bottom-5 {
    padding-bottom: 5.3rem !important;
  }
}

.green-divider-center {
  height: 3rem;
  width: 20rem;
  position: relative;
  border-top: 0.125rem solid $primary-light;
  margin: auto;
}

.hero-gradient-bg {
  background-image: none !important;
  background: linear-gradient($white, $white, $success-lighter) !important;
}

.hero-gradient-bg-bottom {
  padding-bottom: 100px;
  background: $success-lighter url(/img/Bg-wavy-white@2x.png) bottom center no-repeat;
  background-size: 100%;
  height: auto;
}

.hero-gradient-bg-bottom-mobile {
  background: $success-lighter url(/img/Bg-wavy-white@2x.png) bottom center no-repeat;
  background-size: 200%;
}

.landing-card {
  max-width: 20rem;
  height: 22rem;
  border-style: solid;
  border-radius: 0px 0px 8px 8px;
}
