.gradient-blue {
  background: linear-gradient(180deg, $white 0%, #e7f6f8 50%, #b9d4dd 100%);
}

.gradient-green {
  background: linear-gradient(180deg, $white 0%, #e7f8e9 50%, #b9ddbb 100%);
}

.gradient-gray {
  background: linear-gradient(180deg, $white 5.27%, #bcbcbc 100%);
}

.receipt-box {
  background-color: $white;
  border: 1px solid $base-lighter;
  box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.1);

  @media all and (min-width: $sm) {
    width: 450px;
  }
}

.border-success {
  border-color: $success !important;
}
