@use "../sass-files/variables";

table.table {
  display: grid;
  border: none !important;
  th {
    text-align: left;
    border: none !important;
    padding-left: 1em;
  }

  tr.three-columns {
    display: grid;
    grid-template-areas: "name address action";
    grid-template-columns: 1fr 2fr 1fr;

    @media (max-width: variables.$sm) {
      grid-template-areas:
        "name"
        "address"
        "action";
      grid-template-columns: 1fr;
      padding: 1rem;
    }
  }

  tr.four-columns {
    display: grid;
    grid-template-areas: "name address sign action";
    grid-template-columns: 1fr 2fr 1fr 1fr;

    @media (max-width: variables.$sm) {
      grid-template-areas:
        "name name"
        "address address"
        "sign action";
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      padding: 1rem;
    }
  }

  td,
  th {
    border: none !important;
    height: fit-content;

    @media (max-width: variables.$sm) {
      padding: 0;
      margin-bottom: 1rem;
    }

    &.name {
      grid-area: name;
    }

    &.sign {
      grid-area: sign;
      justify-content: center;
      @media (max-width: variables.$sm) {
        justify-content: left;
        margin-bottom: 0;
      }

      .mobile-sign-wrapper {
        flex-direction: column;
        @media (max-width: variables.$sm) {
          display: flex;
          flex-direction: row;
          height: auto;
        }
      }
    }

    &.address {
      grid-area: address;
    }

    &.action {
      grid-area: action;
      justify-content: center;
      @media (max-width: variables.$sm) {
        justify-content: right;
        margin-bottom: 0;
        align-self: center;
      }
    }
  }

  thead {
    border-bottom: 2px solid variables.$base-light;

    @media (max-width: variables.$sm) {
      display: none;
    }
  }

  .tac {
    text-align: center;
  }
}
