.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-bar-override-usa-accordion__button {
  background-color: $white !important;
  padding: 0px !important;
  background-position: right !important;
}
.nav-bar-override-usa-accordion__content {
  padding: 0px 0px 12px 16px !important;
}
