.nav-bar-override-usa-accordion__button {
  background-color: $white !important;
  padding: 0px !important;
  background-position: right !important;
}
.nav-bar-override-usa-accordion__content {
  padding: 0px 0px 12px 16px !important;
}

.menu-item-title.Mui-disabled {
  opacity: 1;
}

$icon-offset: 45px;

.icon-width {
  width: $icon-offset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-focus:focus {
  z-index: 5;
}

.Mui-focusVisible {
  &.nav-menu-item-container {
    background-color: $transparent;
  }

  &.nav-menu-item-container.bg-primary-extra-light-mui-selected-override {
    background-color: $primary-extra-light;
  }

  &.profile-menu-item {
    background-color: $white;

    &.current {
      background-color: $primary-extra-extra-light;
    }
  }
}

.nav-menu-item-container {
  min-height: 47px;
}

.profile-menu-item {
  background-color: $white;

  &.current {
    background-color: $primary-extra-extra-light;
  }

  &:hover {
    background-color: $primary-extra-light;
  }
}

.Mui-selected.bg-primary-extra-light-mui-selected-override {
  background-color: $primary-extra-light;
}

.truncate-long-business-names_NavBarMobile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
  max-width: 27vw;
}

.truncate-long-business-names_NavBarDesktop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
  max-width: 230px;
}
