@use "../sass-files/variables";

@-webkit-keyframes slidein-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes slidein-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideout-right {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes slideout-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media all and (max-width: 63.99em) {
  .right-nav {
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background: variables.$white;
    border-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 20rem;
    z-index: 500;

    &.is-visible {
      -webkit-animation: slidein-left 0.3s forwards;
      animation: slidein-left 0.3s forwards;
    }

    &.is-hidden {
      -webkit-animation: slideout-right 0.3s forwards;
      animation: slideout-right 0.3s forwards;
    }

    &.cms-only-mobile-menu-preview {
      position: relative;
    }
  }

  .right-nav-close {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: transparent;
    border: 0;
    height: 3rem;
    width: 3rem;
  }
  .right-nav-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background: variables.$base-darkest;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
    z-index: 400;

    &.is-visible {
      opacity: 0.2;
      visibility: visible;
    }
  }
  .right-nav-menu-button {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
    margin-right: 0.75rem;
    color: variables.$primary;
    background-color: transparent;
    font-size: 0.81rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media all and (min-width: 64em) {
  .right-nav-close {
    display: none;
  }
}
