@use "../sass-files/variables";

@media screen and (min-width: variables.$lg) {
  .desktop\:text-left {
    text-align: left;
  }
}

.window-width-shadow-cool-extra-light {
  box-shadow: 0 0 0 100vmax variables.$cool-extra-light;
  clip-path: inset(0 -100vmax);
}

.grid-wrapper {
  display: grid;

  grid-template-columns: 42% auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title-section cards-section"
    "cta-button    cards-section";

  @media (max-width: variables.$md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cta-button {
  grid-area: cta-button;
}

.cards-section {
  grid-area: cards-section;
}

.title-section {
  grid-area: title-section;
  margin-right: 7rem;
  @media (max-width: variables.$md) {
    margin-right: 0;
  }
}

.list-inside {
  list-style-position: inside;
}
