$base-lightest: #f0f0f0;
$base-lighter: #e6e6e6;
$base-light: #adadad;
$base: #757575;
$base-dark: #5c5c5c;
$base-darkest: #1b1b1b;
$ink: #1b1b1b;
$beta: #faf3d1;

$primary-lighter: #c5ee93;
$primary-light: #7fb135;
$primary: #4b7600;
$primary-vivid: #6a7d00;
$primary-dark: #466c04;
$primary-darker: #243413;

$secondary-lighter: #cfe8ff;
$secondary-light: #73b3e7;
$secondary: #2378c3;
$secondary-vivid: #0076d6;
$secondary-dark: #0050d8;
$secondary-darker: #162e51;

$accent-cool-lighter: #d9e8f6;
$accent-cool-light: #aacdec;
$accent-cool: #73b3e7;
$accent-cool-dark: #4f97d1;
$accent-cool-darker: #2c608a;

$accent-warm-lighter: #ffe396;
$accent-warm-light: #e5a000;
$accent-warm: #936f38;
$accent-warm-dark: #7a591a;
$accent-warm-darker: #5c410a;

$info-lighter: #e7f6f8;
$info-light: #99deea;
$info: #00bde3;
$info-dark: #009ec1;
$info-darker: #2e6276;

$error-lighter: #f4e3db;
$error-light: #f39268;
$error: #d54309;
$error-dark: #b51d09;
$error-darker: #6f3331;

$warning-lighter: #faf3d1;
$warning-light: #fee685;
$warning: #ffbe2e;
$warning-dark: #e5a000;
$warning-darker: #936f38;

$success-lighter: #ecf3ec;
$success-light: #70e17b;
$success: #00a91c;
$success-dark: #4d8055;
$success-darker: #446443;

$disabled-light: #e6e6e6;
$disabled: #c9c9c9;
$disabled-dark: #adadad;

$black: #000;
$white: #fff;

.bg-beta {
  background-color: $beta !important;
}

.bg-info-lighter {
  background-color: $info-lighter !important;
}

.bg-info-light {
  background-color: $info-light !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-info-dark {
  background-color: $info-dark !important;
}

.bg-info-darker {
  background-color: $info-darker !important;
}

.text-info-lighter {
  color: $info-lighter !important;
}

.text-info-light {
  color: $info-light !important;
}

.text-info {
  color: $info !important;
}

.text-info-dark {
  color: $info-dark !important;
}

.text-info-darker {
  color: $info-darker !important;
}

.bg-error-lighter {
  background-color: $error-lighter !important;
}

.bg-error-light {
  background-color: $error-light !important;
}

.bg-error {
  background-color: $error !important;
}

.bg-error-dark {
  background-color: $error-dark !important;
}

.bg-error-darker {
  background-color: $error-darker !important;
}

.text-error-lighter {
  color: $error-lighter !important;
}

.text-error-light {
  color: $error-light !important;
}

.text-error {
  color: $error !important;
}

.text-error-dark {
  color: $error-dark !important;
}

.text-error-darker {
  color: $error-darker !important;
}

.bg-success-lighter {
  background-color: $success-lighter !important;
}

.bg-success-light {
  background-color: $success-light !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-success-dark {
  background-color: $success-dark !important;
}

.bg-success-darker {
  background-color: $success-darker !important;
}

.text-success-lighter {
  color: $success-lighter !important;
}

.text-success-light {
  color: $success-light !important;
}

.text-success {
  color: $success !important;
}

.text-success-dark {
  color: $success-dark !important;
}

.text-success-darker {
  color: $success-darker !important;
}

.bg-warning-lighter {
  background-color: $warning-lighter !important;
}

.bg-warning-light {
  background-color: $warning-light !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-warning-dark {
  background-color: $warning-dark !important;
}

.bg-warning-darker {
  background-color: $warning-darker !important;
}

.text-warning-lighter {
  color: $warning-lighter !important;
}

.text-warning-light {
  color: $warning-light !important;
}

.text-warning {
  color: $warning !important;
}

.text-warning-dark {
  color: $warning-dark !important;
}

.text-warning-darker {
  color: $warning-darker !important;
}

.bg-disabled-light {
  background-color: $disabled-light !important;
}

.bg-disabled {
  background-color: $disabled !important;
}

.bg-disabled-dark {
  background-color: $disabled-dark !important;
}
.text-disabled-light {
  color: $disabled-light !important;
}

.text-disabled {
  color: $disabled !important;
}

.text-disabled-dark {
  color: $disabled-dark !important;
}
