.usa-tag-padding-override {
  padding: 3px 7px;
}

.usa-alert--error::before {
  mask: url(/vendor/img/usa-icons/warning.svg) no-repeat center !important;
}

.usa-alert.radius-md::before {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
