.vertical-step-indicator {
  .usa-step-indicator--counters .usa-step-indicator__segment:before,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
    height: 2.5rem;
    border-radius: 99rem;
    width: 2.5rem;
    font-feature-settings: "tnum" 1, "kern" 1;
    content: attr(data-num) !important;
    display: block;
    font-weight: 700;
    left: 0;
    line-height: 1;
    padding: calc((2.5rem - (2ex * 1)) * 0.5);
    position: absolute;
    text-align: center;
    top: calc((2.5rem - 0.5rem) / -2);
    z-index: 100;
    font-size: 22px;

    @media all and (min-width: $sm) {
      margin-top: 0;
    }
  }

  .usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.93rem;
    padding: calc(0.25rem + 1px);
    top: calc((1.5rem - 0.5rem) / -2);
  }

  .usa-step-indicator {
    margin-bottom: 0 !important;
  }

  @media all and (min-width: $sm) {
    .usa-step-indicator--counters .usa-step-indicator__segment-label,
    .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
      margin-top: 0 !important;
    }
  }

  .usa-step-indicator__segments {
    display: block !important;
  }

  .usa-step-indicator__segment--complete:before,
  .usa-step-indicator__segment--current:before {
    content: attr(data-num) !important;
  }

  .vertical-bar,
  .vertical-bar-sm {
    position: absolute;
    height: 0rem;
    z-index: 90;

    @media all and (min-width: $sm) {
      margin-top: 0;
    }
  }

  .vertical-bar-sm {
    width: 0.25rem;
    left: calc((1.5rem + (0.5rem / 2)) / 2);
  }

  .vertical-bar {
    width: 0.5rem;
    left: calc(((2.5rem - 0.5rem) / 2));

    @media all and (min-width: $sm) {
      margin-top: 0;
    }
  }

  .vertical-bar.complete,
  .vertical-bar-sm.complete {
    background-color: $primary-darker;
  }

  .vertical-bar.current,
  .vertical-bar-sm.current {
    background-color: $primary;
  }

  // override and remove default vertical
  .usa-step-indicator__segment--complete:after,
  .usa-step-indicator__segment--current:after {
    display: none !important;
  }

  @media (min-width: $sm) {
    .usa-step-indicator--counters .usa-step-indicator__segment,
    .usa-step-indicator--counters-sm .usa-step-indicator__segment {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.horizontal-step-indicator {
  .usa-step-indicator {
    margin-bottom: 0 !important;
  }

  .usa-step-indicator__segment {
    max-width: none;
  }
  .usa-step-indicator__segment-label {
    color: $base;
    text-align: center;
    padding: 0px;
  }

  .usa-step-indicator__segment--current .usa-step-indicator__segment-label {
    color: $primary;
  }

  .usa-step-indicator__segment--complete .usa-step-indicator__segment-label {
    color: $info-darker;
  }

  .usa-step-indicator__segment:after {
    background-color: $base-light;
  }

  .usa-step-indicator__segment--current:after {
    background-color: $primary;
  }

  .usa-step-indicator__segment--complete:after {
    background-color: $info-darker !important;
  }

  .usa-step-indicator__segment::before {
    color: $white !important;
    background-color: $base-light !important;
    box-shadow: none !important;
  }

  .usa-step-indicator__segment--current::before {
    background-color: $primary !important;
  }

  .usa-step-indicator__segment--complete::before {
    background-color: $info-darker !important;
  }

  @media all and (min-width: $sm) {
    .usa-step-indicator__segment:before {
      left: calc(50% - 12px) !important;
    }
    .usa-step-indicator__segment:first-child:after {
      left: 50%;
    }

    .usa-step-indicator__segment:after {
      left: 50%;
      right: -50%;
      height: 0.25rem;
      top: 0.125rem;
    }

    .usa-step-indicator--counters-sm.usa-step-indicator .usa-step-indicator__segment:last-child:after,
    .usa-step-indicator--counters.usa-step-indicator .usa-step-indicator__segment:last-child:after {
      display: block;
      right: 50%;
      width: auto;
    }

    .usa-step-indicator__segment--complete:before,
    .usa-step-indicator__segment--current:before {
      content: attr(data-num) !important;
    }
  }
}

.substep-unchecked:before {
  border-radius: 99rem;
  background-color: $white;
  border: 2px solid $primary-darker;
  box-sizing: border-box;
  font-feature-settings: "tnum" 1, "kern" 1;
  content: "";
  display: block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  z-index: 100;

  height: 1rem;
  width: 1rem;
  margin-left: 1px;
  margin-right: 1px;

  @media all and (min-width: $sm) {
    margin-top: 0;
  }
}

.substep-unchecked.active:before {
  border: 2px solid $primary;
}

.checked-task {
  min-width: 1.13rem;
}
