.usa-tag-padding-override {
  padding: 3px 7px;
}

.usa-alert--error {
  background-image: url(/img/usa-icons/warning.svg), linear-gradient(transparent, transparent) !important;
}

.usa-alert.radius-md::before {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
