@-webkit-keyframes slidein-right {
  0% {
    transform: translateX(-15rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidein-right {
  0% {
    transform: translateX(-15rem);
  }
  to {
    transform: translateX(0);
  }
}

@media all and (max-width: 63.99em) {
  .usa-nav {
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    background: #fff;
    border-left: 0;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    width: 15rem;
    z-index: 500;
  }
  .usa-nav.is-visible {
    -webkit-animation: slidein-right 0.3s ease-in-out !important;
    animation: slidein-right 0.3s ease-in-out !important;
    display: flex;
  }
}
