.usa-step-indicator--counters .usa-step-indicator__segment:before,
.usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
  height: 2.5rem;
  border-radius: 99rem;
  width: 2.5rem;
  font-feature-settings: "tnum" 1, "kern" 1;
  background-color: #fff;
  box-shadow: inset 0 0 0 0.25rem #e6e6e6, 0 0 0 0.25rem #fff;
  color: #5c5c5c;
  content: attr(data-num) !important;
  display: block;
  font-weight: 700;
  left: 0;
  line-height: 1;
  padding: calc((2.5rem - (2ex * 1)) * 0.5);
  position: absolute;
  text-align: center;
  top: calc((2.5rem - 0.5rem) / -2);
  z-index: 100;
  font-size: 22px;

  @media all and (min-width: $sm) {
    margin-top: 0;
  }
}

.usa-step-indicator--counters-sm .usa-step-indicator__segment:before {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.93rem;
  padding: calc(0.25rem + 1px);
  top: calc((1.5rem - 0.5rem) / -2);
}

.usa-step-indicator {
  margin-bottom: 0 !important;
}

@media all and (min-width: $sm) {
  .usa-step-indicator--counters .usa-step-indicator__segment-label,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment-label {
    margin-top: 0 !important;
  }
}

.usa-step-indicator__segments.vertical {
  display: block !important;
}

.usa-step-indicator__segment--complete.vertical:before,
.usa-step-indicator__segment--current.vertical:before {
  content: attr(data-num) !important;
}

.vertical-bar,
.vertical-bar-sm {
  position: absolute;
  height: 30rem;
  z-index: 90;

  @media all and (min-width: $sm) {
    margin-top: 0;
  }
}

.vertical-bar-sm {
  width: 0.25rem;
  left: calc(((4rem + 0.25rem) / 2)); // for mobile sidebar

  @media all and (min-width: $lg) {
    left: calc(((3rem + 0.25rem) / 2)); // for desktop sidebar
  }
}

.vertical-bar {
  width: 0.5rem;
  left: calc(((2.5rem - 0.5rem) / 2));

  @media all and (min-width: $sm) {
    margin-top: 0;
  }
}

.vertical-bar.complete,
.vertical-bar-sm.complete {
  background-color: #243413;
}

.vertical-bar.current,
.vertical-bar-sm.current {
  background-color: #538200;
}

// override and remove default vertical
.usa-step-indicator__segment--complete.vertical:after,
.usa-step-indicator__segment--current.vertical:after {
  display: none !important;
}
@media (min-width: $sm) {
  .usa-step-indicator--counters .usa-step-indicator__segment,
  .usa-step-indicator--counters-sm .usa-step-indicator__segment {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.substep-unchecked:before {
  border-radius: 99rem;
  background-color: #fff;
  border: 2px solid #243413;
  box-sizing: border-box;
  font-feature-settings: "tnum" 1, "kern" 1;
  content: "";
  display: block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  z-index: 100;

  height: 0.88rem;
  width: 0.88rem;
  //font-size: 0.88rem;
  //padding: calc(0.25rem + 1px);
  //top: calc((1rem - 0.5rem) / -2);

  @media all and (min-width: $sm) {
    margin-top: 0;
  }
}

.substep-unchecked.active:before {
  border: 2px solid #538200;
}
