$utilities-use-important: true;

$xs: 30em; //mobile-lg + up (480px)
$sm: 40em; //tablet + up (640px)
$md: 50em; //big tablet (800px)
$lg: 64em; //desktop and up (1024px)

$drop-shadow-xs: 0px, 4px, 8px, 0.1;
$drop-shadow-xs-darker: 4px, 4px, 8px, 0.25;
$drop-shadow-sm: 0px, 6px, 12px, 0.1;
$drop-shadow-md: 0px, 8px, 16px, 0.1;
$drop-shadow-lg: 0px, 10px, 20px, 0.1;
$drop-shadow-xl: 0px, 12px, 24px, 0.1;

$base-extra-light: #f8f8f8;
$base-lightest: #f0f0f0;
$base-lighter: #e6e6e6;
$base-light: #adadad;
$base: #757575;
$base-dark: #5c5c5c;
$base-darkest: #1b1b1b;

$primary-extra-extra-light: #fbfdf9;
$primary-extra-light: #f2f7eb;
$primary-lightest: #d9e9bf;
$primary-lighter: #c5ee93;
$primary-more-light: #bfd89a;
$primary-light: #7fb135;
$primary-light-vivid: #81bd00;
$primary-vivid: #6a7d00;
$primary: #4b7600;
$primary-dark: #466c04;
$primary-darker: #243413;

$secondary-lighter: #cfe8ff;
$secondary-light: #73b3e7;
$secondary-vivid: #0076d6;
$secondary-vivid-dark: #076fce;
$secondary: #2378c3;
$secondary-dark: #0050d8;
$secondary-darker: #162e51;

$accent-cool-lightest: #ecf4fb;
$accent-cool-lighter: #d9e8f6;
$accent-cool-light: #aacdec;
$accent-cool: #73b3e7;
$accent-cool-dark: #4f97d1;
$accent-cool-darker: #2c608a;
$accent-cool-darkest: #38536f;
$accent-cool-more-dark: #2e4153;

$accent-warm-extra-light: #fff4dc;
$accent-warm-lighter: #ffe396;
$accent-warm-light: #e5a000;
$accent-warm: #936f38;
$accent-warm-dark: #7a591a;
$accent-warm-darker: #5c410a;

$success-extra-light: #ecf3ec;
$success-lighter: #c9e8c9;
$success-light: #70e17b;
$success: #00a91c;
$success-dark: #4d8055;
$success-darker: #446443;

$info-extra-light: #e7f6f8;
$info-light: #99deea;
$info: #00bde3;
$info-dark: #009ec1;
$info-dark-medium: #067889;
$info-darker: #2e6276;
$info-darkest: #134c57;

$warning-extra-light: #faf3d1;
$warning-light: #fee685;
$warning: #ffbe2e;
$warning-dark: #e5a000;
$warning-darker: #936f38;

$error-extra-light: #f4e3db;
$error-light: #f39268;
$error: #d54309;
$error-dark: #b51d09; // Default Error Color
$error-darker: #6f3331;

$white: #ffffff;
$disabled: $base;
$transparent: rgba(255, 255, 255, 0);

$cool-extra-light: #f9fbfb;
$cool-lighter: #ddeded;

$accent-cooler-lightest: #ece6f2;
$accent-cooler-50: #f9f7fb;
$accent-cooler-200: #dacee4;
$accent-cooler-light: #c1add3;
$accent-cooler: #835da4;
$accent-cool-dark-medium: #2c73ad;
$accent-cooler-dark: #5c3f74;
$accent-cooler-darker: #422d53;

$accent-hot-extra-light: #fae8e0;
$accent-hot: #be4e1e;
$accent-hot-darker: #8f3b17;

$accent-semi-cool-extra-light: #effffb;
$accent-semi-cool-lightest: #defff8;
$accent-semi-cool-light: #bdfff2;
$accent-semi-cool: #009f7f;
$accent-semi-cool-500: #00d6ab;
$accent-semi-cool-vivid: #00bf91;
$accent-semi-cool-700: #007e65;
$accent-semi-cool-800: #00634f;
$accent-semi-cool-900: #00493a;
