# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

src/setupTests.js
src/teardownTests.js
# Large file with binary/hex contents
api/wiremock/__files/tax-clearance-success.json
api/cdk/lib/**/*.js
api/cdk/bin/**/*.js
api/cdk/cdk.out/
api/cdk/cdk.out/**

api/cdk/test/**/*.js
dist/
api/dist/*.js
lib/
