# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

src/setupTests.js
src/teardownTests.js
# Large file with binary/hex contents
wiremock/__files/tax-clearance-success.json
cdk/lib/**/*.js
cdk/bin/**/*.js
cdk/cdk.out/
cdk/cdk.out/**

cdk/test/**/*.js
dist/
dist/*.js
lib/
