name: Deploy Content on Content Changes

on:
  push:
    branches:
      - content-repo

jobs:
  deploy-content:
    uses: newjersey/navigator.business.nj.gov/.github/workflows/deploy-content-environment.yml@main
    secrets: inherit
    permissions:
      contents: read
      id-token: write
