name: Deploy Staging Environment

on:
  workflow_call:

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: staging

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node.js 22.20.0
        uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
          cache: yarn

      - name: Set Staging Environment Variables
        shell: bash
        run: |
          echo "AWS_REGION=${{ vars.AWS_CRYPTO_CONTEXT_ORIGIN }}" >> $GITHUB_ENV
          echo "VPC_ID=${{ vars.VPC_ID_AWS_STAGING }}" >> $GITHUB_ENV
          echo "SUBNET_ID_01=${{ vars.SUBNET_ID_01_AWS_STAGING }}" >> $GITHUB_ENV
          echo "SUBNET_ID_02=${{ vars.SUBNET_ID_02_AWS_STAGING }}" >> $GITHUB_ENV
          echo "SG_ID=${{ vars.SG_ID_AWS_STAGING }}" >> $GITHUB_ENV
          echo "STAGE=${{ vars.STAGE_STAGING }}" >> $GITHUB_ENV
          echo "MYNJ_PROFILE_LINK=${{ vars.MYNJ_PROFILE_LINK_SHARED }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE=${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE=${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE }}" >> $GITHUB_ENV

          echo "API_BASE_URL=${{ vars.API_BASE_URL_AWS_STAGING }}" >> $GITHUB_ENV
          echo "AUTH_DOMAIN=${{ secrets.COGNITO_AUTH_DOMAIN_STAGING }}" >> $GITHUB_ENV
          echo "COGNITO_IDENTITY_POOL_ID=${{ secrets.COGNITO_IDENTITY_POOL_ID_STAGING }}" >> $GITHUB_ENV
          echo "COGNITO_USER_POOL_ID=${{ secrets.COGNITO_USER_POOL_ID_STAGING }}" >> $GITHUB_ENV
          echo "COGNITO_WEB_CLIENT_ID=${{ secrets.COGNITO_WEB_CLIENT_ID_STAGING }}" >> $GITHUB_ENV
          echo "BUSINESS_NAME_BASE_URL=${{ secrets.BUSINESS_NAME_BASE_URL_STAGING }}" >> $GITHUB_ENV
          echo "MYNJ_ROLE_NAME=${{ vars.MYNJ_ROLE_NAME_PROD_STAGING }}" >> $GITHUB_ENV
          echo "FEATURE_CIGARETTE_LICENSE=${{ vars.FEATURE_CIGARETTE_LICENSE_STAGING }}" >> $GITHUB_ENV
          echo "FEATURE_TAX_CLEARANCE_CERTIFICATE=${{ vars.FEATURE_TAX_CLEARANCE_CERTIFICATE_STAGING }}" >> $GITHUB_ENV
          echo "FEATURE_EMPLOYER_RATES=${{ vars.FEATURE_EMPLOYER_RATES_STAGING }}" >> $GITHUB_ENV

          echo "FORMATION_API_ACCOUNT=${{ secrets.FORMATION_API_ACCOUNT_STAGING }}" >> $GITHUB_ENV
          echo "FORMATION_API_KEY=${{ secrets.FORMATION_API_KEY_STAGING }}" >> $GITHUB_ENV
          echo "FORMATION_API_BASE_URL=${{ secrets.FORMATION_API_BASE_URL_STAGING }}" >> $GITHUB_ENV

          echo "GOV2GO_REGISTRATION_API_KEY=${{ secrets.GOV2GO_REGISTRATION_API_KEY_PROD_STAGING }}" >> $GITHUB_ENV
          echo "GOV2GO_REGISTRATION_BASE_URL=${{ secrets.GOV2GO_REGISTRATION_BASE_URL_STAGING }}" >> $GITHUB_ENV

          echo "LICENSE_STATUS_BASE_URL=${{ secrets.LICENSE_STATUS_BASE_URL_STAGING }}" >> $GITHUB_ENV

          echo "MYNJ_SERVICE_TOKEN=${{ secrets.MYNJ_SERVICE_TOKEN_STAGING }}" >> $GITHUB_ENV
          echo "MYNJ_SERVICE_URL=${{ secrets.MYNJ_SERVICE_URL_STAGING }}" >> $GITHUB_ENV

          echo "NEXT_PUBLIC_WEB_BASE_URL=${{ vars.WEB_BASE_URL_STAGING }}" >> $GITHUB_ENV
          echo "REDIRECT_URL=${{ vars.REDIRECT_URL_STAGING }}" >> $GITHUB_ENV
          echo "USE_BASIC_AUTH=${{ vars.USE_BASIC_AUTH_STAGING }}" >> $GITHUB_ENV

          echo "TAX_CLEARANCE_CERTIFICATE_PASSWORD=${{ secrets.TAX_CLEARANCE_CERTIFICATE_PASSWORD_PROD_STAGING }}" >> $GITHUB_ENV
          echo "TAX_CLEARANCE_CERTIFICATE_USER_NAME=${{ vars.TAX_CLEARANCE_CERTIFICATE_USER_NAME }}" >> $GITHUB_ENV
          echo "TAX_CLEARANCE_CERTIFICATE_URL=${{ secrets.TAX_CLEARANCE_CERTIFICATE_URL_PROD_STAGING }}" >> $GITHUB_ENV

          echo "AB_TESTING_EXPERIENCE_B_PERCENTAGE=${{ vars.AB_TESTING_EXPERIENCE_B_PERCENTAGE_DEV }}" >> $GITHUB_ENV

          echo "ABC_ETP_API_ACCOUNT=${{ secrets.ABC_ETP_API_ACCOUNT_STAGING }}" >> $GITHUB_ENV
          echo "ABC_ETP_API_BASE_URL=${{ vars.ABC_ETP_API_BASE_URL_STAGING }}" >> $GITHUB_ENV
          echo "ABC_ETP_API_KEY=${{ secrets.ABC_ETP_API_KEY_STAGING }}" >> $GITHUB_ENV

          echo "AIRTABLE_USERS_TABLE=${{ vars.AIRTABLE_USERS_TABLE_DEV }}" >> $GITHUB_ENV

          echo "AWS_ACCOUNT_ID=${{ vars.AWS_ACCOUNT_ID_STAGING }}" >> $GITHUB_ENV
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_CONTEXT_ORIGIN=${{ vars.AWS_CRYPTO_CONTEXT_ORIGIN }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_CONTEXT_STAGE=${{ vars.AWS_CRYPTO_CONTEXT_STAGE_STAGING }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY=${{ secrets.AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY_STAGING }}" >> $GITHUB_ENV
          echo "AWS_CRYPTO_TAX_ID_HASHING_KEY=${{ secrets.AWS_CRYPTO_TAX_ID_HASHING_KEY_STAGING }}" >> $GITHUB_ENV

          echo "BASIC_AUTH_PASSWORD=${{ secrets.BASIC_AUTH_PASSWORD }}" >> $GITHUB_ENV
          echo "BASIC_AUTH_USERNAME=${{ vars.BASIC_AUTH_USERNAME }}" >> $GITHUB_ENV

          echo "CHECK_DEAD_LINKS=${{ vars.CHECK_DEAD_LINKS_STAGING }}" >> $GITHUB_ENV
          echo "DEV_ONLY_UNLINK_TAX_ID=${{ vars.DEV_ONLY_UNLINK_TAX_ID_STAGING }}" >> $GITHUB_ENV

          echo "DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID=${{ secrets.DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_ELEVATOR_SAFETY_SECRET=${{ secrets.DYNAMICS_ELEVATOR_SAFETY_SECRET }}" >> $GITHUB_ENV
          echo "DYNAMICS_ELEVATOR_SAFETY_TENANT_ID=${{ secrets.DYNAMICS_ELEVATOR_SAFETY_TENANT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_ELEVATOR_SAFETY_URL=${{ secrets.DYNAMICS_ELEVATOR_SAFETY_URL }}" >> $GITHUB_ENV

          echo "DYNAMICS_FIRE_SAFETY_CLIENT_ID=${{ secrets.DYNAMICS_FIRE_SAFETY_CLIENT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_FIRE_SAFETY_SECRET=${{ secrets.DYNAMICS_FIRE_SAFETY_SECRET }}" >> $GITHUB_ENV
          echo "DYNAMICS_FIRE_SAFETY_TENANT_ID=${{ secrets.DYNAMICS_FIRE_SAFETY_TENANT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_FIRE_SAFETY_URL=${{ secrets.DYNAMICS_FIRE_SAFETY_URL }}" >> $GITHUB_ENV

          echo "DYNAMICS_HOUSING_CLIENT_ID=${{ secrets.DYNAMICS_HOUSING_CLIENT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_HOUSING_SECRET=${{ secrets.DYNAMICS_HOUSING_SECRET }}" >> $GITHUB_ENV
          echo "DYNAMICS_HOUSING_TENANT_ID=${{ secrets.DYNAMICS_HOUSING_TENANT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_HOUSING_URL=${{ secrets.DYNAMICS_HOUSING_URL }}" >> $GITHUB_ENV

          echo "DYNAMICS_LICENSE_STATUS_CLIENT_ID=${{ secrets.DYNAMICS_LICENSE_STATUS_CLIENT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_LICENSE_STATUS_SECRET=${{ secrets.DYNAMICS_LICENSE_STATUS_SECRET }}" >> $GITHUB_ENV
          echo "DYNAMICS_LICENSE_STATUS_TENANT_ID=${{ secrets.DYNAMICS_LICENSE_STATUS_TENANT_ID }}" >> $GITHUB_ENV
          echo "DYNAMICS_LICENSE_STATUS_URL=${{ vars.DYNAMICS_LICENSE_STATUS_URL_TEST }}" >> $GITHUB_ENV

          echo "FEATURE_ABC_ETP_APPLICATION=${{ vars.FEATURE_ABC_ETP_APPLICATION_STAGING }}" >> $GITHUB_ENV
          echo "FEATURE_FORMATION_SURVEY=${{ vars.FEATURE_FORMATION_SURVEY_STAGING }}" >> $GITHUB_ENV
          echo "FEATURE_LOGIN_PAGE=${{ vars.FEATURE_LOGIN_PAGE_STAGING }}" >> $GITHUB_ENV

      - name: Deploy to Staging
        uses: ./.github/actions/deploy
        with:
          service_name: bfs-navigator
