name: Deploy Staging Environment

on:
  workflow_call:

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: staging
    env:
      AWS_REGION: ${{ vars.AWS_CRYPTO_CONTEXT_ORIGIN }}
      VPC_ID: ${{ vars.VPC_ID_AWS_STAGING }}
      SUBNET_ID_01: ${{ vars.SUBNET_ID_01_AWS_STAGING }}
      SUBNET_ID_02: ${{ vars.SUBNET_ID_02_AWS_STAGING }}
      SG_ID: ${{ vars.SG_ID_AWS_STAGING }}
      STAGE: ${{ vars.STAGE_STAGING }}
      MYNJ_PROFILE_LINK: ${{ vars.MYNJ_PROFILE_LINK_SHARED }}
      AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE:
        ${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE }}
      AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE:
        ${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE }}
      API_BASE_URL: ${{ vars.API_BASE_URL_AWS_STAGING }}
      AUTH_DOMAIN: ${{ secrets.COGNITO_AUTH_DOMAIN_STAGING }}
      COGNITO_IDENTITY_POOL_ID: ${{ secrets.COGNITO_IDENTITY_POOL_ID_STAGING }}
      COGNITO_USER_POOL_ID: ${{ secrets.COGNITO_USER_POOL_ID_STAGING }}
      COGNITO_WEB_CLIENT_ID: ${{ secrets.COGNITO_WEB_CLIENT_ID_STAGING }}
      BUSINESS_NAME_BASE_URL: ${{ vars.BUSINESS_NAME_BASE_URL_STAGING }}
      MYNJ_ROLE_NAME: ${{ vars.MYNJ_ROLE_NAME_PROD_STAGING }}
      FEATURE_CIGARETTE_LICENSE: ${{ vars.FEATURE_CIGARETTE_LICENSE_STAGING }}
      FEATURE_TAX_CLEARANCE_CERTIFICATE: ${{ vars.FEATURE_TAX_CLEARANCE_CERTIFICATE_STAGING }}
      FEATURE_EMPLOYER_RATES: ${{ vars.FEATURE_EMPLOYER_RATES_STAGING }}
      FORMATION_API_ACCOUNT: ${{ secrets.FORMATION_API_ACCOUNT_STAGING }}
      FORMATION_API_KEY: ${{ secrets.FORMATION_API_KEY_STAGING }}
      FORMATION_API_BASE_URL: ${{ secrets.FORMATION_API_BASE_URL_STAGING }}

      GOV2GO_REGISTRATION_API_KEY: ${{ secrets.GOV2GO_REGISTRATION_API_KEY_STAGING }}
      GOV2GO_REGISTRATION_BASE_URL: ${{ vars.GOV2GO_REGISTRATION_BASE_URL_STAGING }}

      LICENSE_STATUS_BASE_URL: ${{ vars.LICENSE_STATUS_BASE_URL_STAGING }}

      MYNJ_SERVICE_TOKEN: ${{ secrets.MYNJ_SERVICE_TOKEN_STAGING }}
      MYNJ_SERVICE_URL: ${{ secrets.MYNJ_SERVICE_URL_STAGING }}
      NEXT_PUBLIC_WEB_BASE_URL: ${{ vars.WEB_BASE_URL_STAGING }}
      REDIRECT_URL: ${{ vars.REDIRECT_URL_STAGING }}
      USE_BASIC_AUTH: ${{ vars.USE_BASIC_AUTH_STAGING }}

      AB_TESTING_EXPERIENCE_B_PERCENTAGE: ${{ vars.AB_TESTING_EXPERIENCE_B_PERCENTAGE_DEV }}

      ABC_ETP_API_ACCOUNT: ${{ secrets.ABC_ETP_API_ACCOUNT_STAGING }}
      ABC_ETP_API_BASE_URL: ${{ vars.ABC_ETP_API_BASE_URL_STAGING }}
      ABC_ETP_API_KEY: ${{ secrets.ABC_ETP_API_KEY_STAGING }}

      AIRTABLE_USERS_TABLE: ${{ vars.AIRTABLE_USERS_TABLE_DEV }}

      AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID_STAGING }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
      AWS_CRYPTO_CONTEXT_ORIGIN: ${{ vars.AWS_CRYPTO_CONTEXT_ORIGIN }}
      AWS_CRYPTO_CONTEXT_STAGE: ${{ vars.AWS_CRYPTO_CONTEXT_STAGE_STAGING }}
      AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY: ${{ secrets.AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY_STAGING }}
      AWS_CRYPTO_TAX_ID_HASHING_KEY: ${{ secrets.AWS_CRYPTO_TAX_ID_HASHING_KEY_STAGING }}

      BASIC_AUTH_PASSWORD: ${{ secrets.BASIC_AUTH_PASSWORD }}
      BASIC_AUTH_USERNAME: ${{ vars.BASIC_AUTH_USERNAME }}

      CHECK_DEAD_LINKS: ${{ vars.CHECK_DEAD_LINKS_STAGING }}
      DEV_ONLY_UNLINK_TAX_ID: ${{ vars.DEV_ONLY_UNLINK_TAX_ID_STAGING }}

      DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID }}
      DYNAMICS_ELEVATOR_SAFETY_SECRET: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_SECRET }}
      DYNAMICS_ELEVATOR_SAFETY_TENANT_ID: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_TENANT_ID }}
      DYNAMICS_ELEVATOR_SAFETY_URL: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_URL }}

      DYNAMICS_FIRE_SAFETY_CLIENT_ID: ${{ secrets.DYNAMICS_FIRE_SAFETY_CLIENT_ID }}
      DYNAMICS_FIRE_SAFETY_SECRET: ${{ secrets.DYNAMICS_FIRE_SAFETY_SECRET }}
      DYNAMICS_FIRE_SAFETY_TENANT_ID: ${{ secrets.DYNAMICS_FIRE_SAFETY_TENANT_ID }}
      DYNAMICS_FIRE_SAFETY_URL: ${{ secrets.DYNAMICS_FIRE_SAFETY_URL }}

      DYNAMICS_HOUSING_CLIENT_ID: ${{ secrets.DYNAMICS_HOUSING_CLIENT_ID }}
      DYNAMICS_HOUSING_SECRET: ${{ secrets.DYNAMICS_HOUSING_SECRET }}
      DYNAMICS_HOUSING_TENANT_ID: ${{ secrets.DYNAMICS_HOUSING_TENANT_ID }}
      DYNAMICS_HOUSING_URL: ${{ secrets.DYNAMICS_HOUSING_URL }}

      DYNAMICS_LICENSE_STATUS_CLIENT_ID: ${{ secrets.DYNAMICS_LICENSE_STATUS_CLIENT_ID }}
      DYNAMICS_LICENSE_STATUS_SECRET: ${{ secrets.DYNAMICS_LICENSE_STATUS_SECRET }}
      DYNAMICS_LICENSE_STATUS_TENANT_ID: ${{ secrets.DYNAMICS_LICENSE_STATUS_TENANT_ID }}
      DYNAMICS_LICENSE_STATUS_URL: ${{ vars.DYNAMICS_LICENSE_STATUS_URL_TEST }}

      FEATURE_ABC_ETP_APPLICATION: ${{ vars.FEATURE_ABC_ETP_APPLICATION_STAGING }}
      FEATURE_FORMATION_SURVEY: ${{ vars.FEATURE_FORMATION_SURVEY_STAGING }}
      FEATURE_LOGIN_PAGE: ${{ vars.FEATURE_LOGIN_PAGE_STAGING }}

      XRAY_REGISTRATION_STATUS_BASE_URL: ${{ vars.XRAY_REGISTRATION_STATUS_BASE_URL_STAGING }}
      INTERCOM_HASH_SECRET: ${{ secrets.INTERCOM_HASH_SECRET }}

      TAX_CLEARANCE_CERTIFICATE_PASSWORD: ${{ secrets.TAX_CLEARANCE_CERTIFICATE_PASSWORD_STAGING }}
      TAX_CLEARANCE_CERTIFICATE_USER_NAME:
        ${{ secrets.TAX_CLEARANCE_CERTIFICATE_USER_NAME_STAGING }}
      TAX_CLEARANCE_CERTIFICATE_URL: ${{ vars.TAX_CLEARANCE_CERTIFICATE_URL_STAGING }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Deploy to Staging
        uses: ./.github/actions/deploy
        with:
          service_name: bfs-navigator
