name: Merge content-repo from main

on:
  push:
    branches:
      - main

jobs:
  merge-content:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout full repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git user
        run: |
          git config --global user.email "business-engineering@innovation.nj.gov"
          git config --global user.name "NJ Innovation CI"

      - name: Fetch content-repo branch
        run: git fetch origin content-repo

      - name: Merge main into content-repo
        run: |
          git checkout content-repo
          git merge origin/main --no-edit

      - name: Push merged branch
        run: git push origin content-repo
  deploy-content:
    needs: merge-content
    uses: newjersey/navigator.business.nj.gov/.github/workflows/deploy-content-environment.yml@main
    secrets: inherit
    permissions:
      contents: read
      id-token: write
