name: Deploy Testing Environment

on:
  push:
    branches:
      - testing-repo
  workflow_dispatch:

jobs:
  deploy-testing:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    environment: testing
    env:
      AWS_REGION: ${{ vars.AWS_CRYPTO_CONTEXT_ORIGIN }}
      VPC_ID: ${{ vars.VPC_ID_AWS_DEV }}
      SUBNET_ID_01: ${{ vars.SUBNET_ID_01_AWS_DEV }}
      SUBNET_ID_02: ${{ vars.SUBNET_ID_02_AWS_DEV }}
      SG_ID: ${{ vars.SG_ID_AWS_DEV }}
      STAGE: ${{ vars.STAGE_TESTING }}
      MYNJ_PROFILE_LINK: ${{ vars.MYNJ_PROFILE_LINK_SHARED }}
      AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE:
        ${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_HASHING_PURPOSE }}
      AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE:
        ${{ vars.AWS_CRYPTO_CONTEXT_TAX_ID_ENCRYPTION_PURPOSE }}

      AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID_DEV }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_DEV }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEV }}

      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      AB_TESTING_EXPERIENCE_B_PERCENTAGE: ${{ vars.AB_TESTING_EXPERIENCE_B_PERCENTAGE_DEV }}
      AIRTABLE_USERS_TABLE: ${{ vars.AIRTABLE_USERS_TABLE_DEV }}
      BASIC_AUTH_PASSWORD: ${{ secrets.BASIC_AUTH_PASSWORD }}
      BASIC_AUTH_USERNAME: ${{ vars.BASIC_AUTH_USERNAME }}
      CHECK_DEAD_LINKS: ${{ vars.CHECK_DEAD_LINKS_DEV }}
      DEV_ONLY_UNLINK_TAX_ID: ${{ vars.DEV_ONLY_UNLINK_TAX_ID_DEV }}
      SHOW_DISABLED_INDUSTRIES: ${{ vars.DEV_SHOW_DISABLED_INDUSTRIES }}
      SMOKE_TEST_ENV: ${{ secrets.SMOKE_TEST_ENV_DEV }}
      USE_BASIC_AUTH: ${{ vars.USE_BASIC_AUTH_DEV }}
      XRAY_REGISTRATION_STATUS_BASE_URL: ${{ vars.XRAY_REGISTRATION_STATUS_BASE_URL_DEV }}

      DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_CLIENT_ID }}
      DYNAMICS_ELEVATOR_SAFETY_SECRET: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_SECRET }}
      DYNAMICS_ELEVATOR_SAFETY_TENANT_ID: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_TENANT_ID }}
      DYNAMICS_ELEVATOR_SAFETY_URL: ${{ secrets.DYNAMICS_ELEVATOR_SAFETY_URL }}

      DYNAMICS_FIRE_SAFETY_CLIENT_ID: ${{ secrets.DYNAMICS_FIRE_SAFETY_CLIENT_ID }}
      DYNAMICS_FIRE_SAFETY_SECRET: ${{ secrets.DYNAMICS_FIRE_SAFETY_SECRET }}
      DYNAMICS_FIRE_SAFETY_TENANT_ID: ${{ secrets.DYNAMICS_FIRE_SAFETY_TENANT_ID }}
      DYNAMICS_FIRE_SAFETY_URL: ${{ secrets.DYNAMICS_FIRE_SAFETY_URL }}

      DYNAMICS_HOUSING_CLIENT_ID: ${{ secrets.DYNAMICS_HOUSING_CLIENT_ID }}
      DYNAMICS_HOUSING_SECRET: ${{ secrets.DYNAMICS_HOUSING_SECRET }}
      DYNAMICS_HOUSING_TENANT_ID: ${{ secrets.DYNAMICS_HOUSING_TENANT_ID }}
      DYNAMICS_HOUSING_URL: ${{ secrets.DYNAMICS_HOUSING_URL }}

      DYNAMICS_LICENSE_STATUS_CLIENT_ID: ${{ secrets.DYNAMICS_LICENSE_STATUS_CLIENT_ID }}
      DYNAMICS_LICENSE_STATUS_SECRET: ${{ secrets.DYNAMICS_LICENSE_STATUS_SECRET }}
      DYNAMICS_LICENSE_STATUS_TENANT_ID: ${{ secrets.DYNAMICS_LICENSE_STATUS_TENANT_ID }}
      DYNAMICS_LICENSE_STATUS_URL: ${{ vars.DYNAMICS_LICENSE_STATUS_URL_PROD }}
      FEATURE_ABC_ETP_APPLICATION: ${{ vars.FEATURE_ABC_ETP_APPLICATION_DEV }}
      FEATURE_CIGARETTE_LICENSE: ${{ vars.FEATURE_CIGARETTE_LICENSE_DEV }}
      FEATURE_TAX_CLEARANCE_CERTIFICATE: ${{ vars.FEATURE_TAX_CLEARANCE_CERTIFICATE_DEV }}
      FEATURE_FORMATION_SURVEY: ${{ vars.FEATURE_FORMATION_SURVEY_DEV }}
      FEATURE_LOGIN_PAGE: ${{ vars.FEATURE_LOGIN_PAGE_DEV }}
      FEATURE_MODIFY_BUSINESS_PAGE: ${{ vars.FEATURE_MODIFY_BUSINESS_PAGE_DEV }}
      FEATURE_EMPLOYER_RATES: ${{ vars.FEATURE_EMPLOYER_RATES_DEV }}

      FORMATION_API_ACCOUNT: ${{ secrets.FORMATION_API_ACCOUNT_DEV }}
      FORMATION_API_KEY: ${{ secrets.FORMATION_API_KEY_DEV }}
      FORMATION_API_BASE_URL: ${{ secrets.FORMATION_API_BASE_URL_DEV }}

      GOV2GO_REGISTRATION_API_KEY: ${{ secrets.GOV2GO_REGISTRATION_API_KEY_DEV }}
      GOV2GO_REGISTRATION_BASE_URL: ${{ vars.GOV2GO_REGISTRATION_BASE_URL_DEV }}

      LICENSE_STATUS_BASE_URL: ${{ vars.LICENSE_STATUS_BASE_URL_DEV }}

      TAX_CLEARANCE_CERTIFICATE_PASSWORD: ${{ secrets.TAX_CLEARANCE_CERTIFICATE_PASSWORD_DEV }}
      TAX_CLEARANCE_CERTIFICATE_USER_NAME: ${{ secrets.TAX_CLEARANCE_CERTIFICATE_USER_NAME_DEV }}
      TAX_CLEARANCE_CERTIFICATE_URL: ${{ vars.TAX_CLEARANCE_CERTIFICATE_URL_DEV }}

      # Testing Overrides
      API_BASE_URL: ${{ vars.API_BASE_URL_AWS_TESTING }}
      AUTH_DOMAIN: ${{ secrets.COGNITO_AUTH_DOMAIN_TESTING }}

      AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY: ${{ secrets.AWS_CRYPTO_TAX_ID_ENCRYPTION_KEY_TESTING }}
      AWS_CRYPTO_TAX_ID_HASHING_KEY: ${{ secrets.AWS_CRYPTO_TAX_ID_HASHING_KEY_TESTING }}

      BASIC_AUTH_AGENCY_PASSWORD: ${{ secrets.BASIC_AUTH_AGENCY_PASSWORD_TESTING }}
      BASIC_AUTH_AGENCY_USERNAME: ${{ vars.BASIC_AUTH_AGENCY_USERNAME_TESTING }}

      COGNITO_IDENTITY_POOL_ID: ${{ secrets.COGNITO_IDENTITY_POOL_ID_TESTING }}
      COGNITO_WEB_CLIENT_ID: ${{ secrets.COGNITO_WEB_CLIENT_ID_TESTING }}
      COGNITO_USER_POOL_ID: ${{ secrets.COGNITO_USER_POOL_ID_TESTING }}

      MYNJ_ROLE_NAME: ${{ vars.MYNJ_ROLE_NAME_TESTING }}
      MYNJ_SERVICE_TOKEN: ${{ secrets.MYNJ_SERVICE_TOKEN_TESTING }}
      MYNJ_SERVICE_URL: ${{ secrets.MYNJ_SERVICE_URL_DEV }}

      REDIRECT_URL: ${{ vars.REDIRECT_URL_TESTING }}
      NEXT_PUBLIC_WEB_BASE_URL: ${{ vars.WEB_BASE_URL_TESTING }}

      BUSINESS_NAME_BASE_URL: ${{ vars.BUSINESS_NAME_BASE_URL_DEV }}
      INTERCOM_HASH_SECRET: ${{ secrets.INTERCOM_HASH_SECRET }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js 22.20.0
        uses: actions/setup-node@v6
        with:
          node-version: 22.20.0
          cache: yarn
      - name: Deploy Testing Environment
        uses: ./.github/actions/deploy
        with:
          service_name: bfs-navigator-testing
