.next
*.md
public/
out_publish/
out_functions/
out/
cypress/plugins
cypress/support
stories/

amplify/#current-cloud-backend/
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
